{% extends 'kanisa/management/base.html' %}

{% load url from future %}

{% block content %}
<hr />

<h2>Twitter <img src="{{ STATIC_URL }}kanisa/img/twitter-bird-light-bgs.png" /></h2>

{% if twitter_username %}
<div class="row">

    <div class="span5">
        <p>You are logged in to Twitter as <strong><a href="http://twitter.com/{{ twitter_username }}">@{{ twitter_username }}</a></strong>.</p>

        <p>You currently have <strong><a href="http://twitter.com/{{ twitter_username }}/followers">{{ followers }} follower{{ followers|pluralize }}</a></strong>, and have posted <strong>{{ statuses }} status update{{ statuses|pluralize }}</strong>.</p>
    </div>

    <div class="span5">
        <blockquote>
        <h4>Most Recent Status</h4>
        <p>{{ current_status.text|urlize }}</p>
        <small class="pull-right">
          <a href="http://twitter.com/{{ twitter_username }}/status/{{ current_status.id }}">
            {{ current_status.created_at|timesince }} ago
          </a>
        </small>
        </blockquote>
    </div>
</div>

{% else %}
<p>You are not logged in to Twitter, or Twitter is unreachable.</p>
{% endif %}

{% endblock %}
