<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Navigation Element
      </th>
      <th>
        <abbr title="Uniform Resource Locator">URL</abbr>
      </th>
      <th>
        <!-- Locked -->
      </th>
      <th>
        <!-- Move Up -->
      </th>
      <th>
        <!-- Move Down -->
      </th>
      <th>
        <!-- Delete -->
      </th>
    </tr>
  </thead>
  <tbody>
    {% for element in object_list %}
    <tr>
      <td>
        <span style="display: inline-block; width: {{ element.get_level }}em"></span>
        {% if element.get_level != 0 %}&#8627;{% endif %}
        <a href="{% url 'kanisa_manage_navigation_update' element.pk %}">{{ element.title }}</a>
      </td>
      <td><a href="{{ element.url }}">{{ element.url }}</a></td>
      <td class="iconcell">
        {% if element.require_login %}
        <i class="glyphicon glyphicon-lock" title="This navigation element is only displayed for logged-in users."></i>
        {% endif %}
      </td>
      <td class="iconcell">
        {% if element.get_previous_sibling %}
        <a href="{% url 'kanisa_manage_navigation_move_up' element.pk %}" title="Move {{ element }} up in the navigation" data-navigation-id="{{ element.pk }}" class="move_up">
          <i class="glyphicon glyphicon-arrow-up"></i>
        </a>
        {% endif %}
      </td>
      <td class="iconcell">
        {% if element.get_next_sibling %}
        <a href="{% url 'kanisa_manage_navigation_move_down' element.pk %}" title="Move {{ element }} down in the navigation" data-navigation-id="{{ element.pk }}" class="move_down">
          <i class="glyphicon glyphicon-arrow-down"></i>
        </a>
        {% endif %}
      </td>
      <td>
        {% if element.is_leaf_node %}
        <a class="btn btn-danger btn-xs navigation_delete" href="{% url 'kanisa_manage_navigation_delete' element.pk %}" data-navigation-title="{{ element.title }}">
          Delete
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
