{% extends 'kanisa/management/base.html' %}

{% load url from future %}

{% block content %}

<p>
  <a href="{% url 'kanisa_manage_navigation_create' %}" class="btn btn-large btn-success">
    <i class="icon-white icon-plus"></i>
    Create a new navigation element
  </a>
</p>

<hr />

{% if object_list %}
{% include 'kanisa/management/navigation/_item_list.html' %}
{% else %}
<p class="alert alert-info">
  There are no navigation elements set up - why don't you
  <a href="{% url 'kanisa_manage_navigation_create' %}">add one</a>?
</p>
{% endif %}

{% endblock %}
