{% extends 'kanisa/management/base.html' %}

{% block extrajs %}
<script type="text/javascript">
var list_navigation_url = "{% url 'kanisa_manage_xhr_list_navigation' %}";
var navigation_up_url = "{% url 'kanisa_manage_xhr_navigation_up' %}";
var navigation_down_url = "{% url 'kanisa_manage_xhr_navigation_down' %}";
</script>
{% endblock %}


{% block content %}

<p>
  <a href="{% url 'kanisa_manage_navigation_create' %}" class="btn btn-lg btn-success">
    <i class="glyphicon glyphicon-plus"></i>
    Create a new navigation element
  </a>
</p>

<hr />

<div id="navigation_details_container">
  {% if object_list %}
  {% include 'kanisa/management/navigation/_item_list.html' %}
  {% else %}
  <p class="alert alert-info">
    There are no navigation elements set up - why don't you
    <a href="{% url 'kanisa_manage_navigation_create' %}">add one</a>?
  </p>
  {% endif %}
</div>

{% endblock %}
