{% load crispy_forms_tags %}

{% if not object.enable_comments %}
  <p>Comments are <strong>disabled</strong> on this post.</p>
{% else %}
  <h3>Comments</h3>

  {% for comment in comments %}
  <div>
    <blockquote>
      {{ comment.body|linebreaks }}
      <small><strong>{{ comment.author.get_full_name }}</strong> ({{ comment.publish_date|timesince }} ago)</small>
    </blockquote>
  </div>
  {% endfor %}

  {% if not object.published %}
    <p>You can&rsquo;t post comments on <strong>unpublished</strong> blog posts.</p>
  {% else %}
    {% if not user.is_authenticated %}
      <p>Please <a href="{% url 'kanisa_members_login' %}?next={{ object.get_absolute_url }}">log in</a> to post a comment.</p>
    {% else %}
      <p>
        You&rsquo;re posting this comment as
        <strong>{{ user.get_display_name }}</strong>.

        If that&rsquo;s not you - you probably want to
        <a href="{% url 'kanisa_members_logout' %}">log out</a>.
      </p>

      {% crispy comment_form %}
    {% endif %}
  {% endif %}
{% endif %}
