{% extends 'kanisa/public/base.html' %}

{% load kanisa_homepage %}

{% block content %}
<div class="row">
  <div class="col-md-9">
    {% block blogcontent %}
    {% endblock %}
  </div>
  <div class="col-md-3">
    {% kanisa_content_block 'blog_intro' %}

    <hr />

    <div class="nav nav-pills flex-column">
      <a class="nav-link" href="{% url 'kanisa_public_blog_index' %}">
        All Blog Posts
      </a>
      <a class="nav-link" href="{% url 'kanisa_public_blog_rss' %}">
        RSS feed
      </a>
    </div>
    <hr />
      {% if years %}
    <div class="nav nav-pills flex-column">
      <strong style="margin-left: 1em">The Archives</strong>
      {% for year in years %}
      <a class="nav-link" href="{% url 'kanisa_public_blog_year' year %}">
        {{ year }}
      </a>
      {% endfor %}
      {% endif %}
    </div>

    {% if perms.kanisa.manage_blog %}
    <hr />
    <a class="btn btn-primary" href="{% url 'kanisa_manage_blog' %}">
      Manage blog posts
    </a>
    {% endif %}
  </div>
</div>
{% endblock %}
