{% extends 'kanisa/public/blog/base.html' %}
{% load kanisa_markup %}

{% block blogcontent %}

<ol class="breadcrumb">
  <li>
    <a href="{% url 'kanisa_public_index' %}">Home</a>
  </li>
  <li>
    <a href="{% url 'kanisa_public_blog_index' %}">Blog</a>
  </li>
  <li>
    <a href="{% url 'kanisa_public_blog_year' object.publish_date.year %}">{{ object.publish_date.year }}</a>
  </li>
  <li class="active">
    {{ object.title }}
  </li>
</ol>

<div class="page-header">
  <h1>
    <a href="{{ object.get_absolute_url }}">
      {{ object.title }}
    </a>
  </h1>
</div>

{% include "kanisa/public/blog/_author_byline.html" %}

<div class="blogpostfull">
  <div class="lead">
    {{ object.teaser_text|kanisa_markdown }}
  </div>

  <span id="post_more"></span>
  {{ object.main_text|kanisa_markdown }}
</div>

{% if next or previous %}
<ul class="pager">
{% if previous %}
  <li class="previous"><a href="{{ previous.get_absolute_url }}">&larr; Previously: <em>{{ previous.title }}</em></a></li>
{% endif %}
{% if next %}
  <li class="next"><a href="{{ next.get_absolute_url }}">Next up: <em>{{ next.title }}</em> &rarr;</a></li>
{% endif %}
</ul>
{% endif %}

{% endblock %}
