  <li class="nav-header">
    <a href="/{{ parent_path }}">{{ parent }}</a>
  </li>

  {% for p in siblings %}
    {% if p.pk == page.pk %}
      <li class="disabled visible-xs">
        <a href="/{{ parent_path }}{{ p.slug }}/">{{ p }}</a>
      </li>
      <li class="active disabled hidden-xs">
        <a href="/{{ parent_path }}{{ p.slug }}/">{{ p }}</a>
      </li>
    {% else %}
      <li>
        <a href="/{{ parent_path }}{{ p.slug }}/">{{ p }}</a>
      </li>
    {% endif %}
  {% endfor %}
