<ul class="nav nav-list">
  {% with page.parent as parent %}
  {% if parent %}
  <li class="nav-header">
    <a href="/{{ parent.get_path }}" style="color: inherit">{{ parent }}</a>
  </li>
  {% for p in parent.get_published_children %}
  {% if p.pk == page.pk %}
  <li class="active">
    <a href="/{{ p.get_path }}">{{ p }}</a>
  </li>
  {% else %}
  <li>
    <a href="/{{ p.get_path }}">{{ p }}</a>
  </li>
  {% endif %}
  {% endfor %}
  <li class="divider"></li>
  {% endif %}
  {% endwith %}
  {% with page.get_published_children as children %}
  {% if children %}
  <li class="nav-header">
    In this section
  </li>
  {% for p in children %}
  <li>
    <a href="/{{ p.get_path }}">{{ p }}</a>
  </li>
  {% endfor %}
  {% endif %}
  {% endwith %}
</ul>
