{% extends 'kanisa/base.html' %}

{% load url from future %}

{% block precontent %}
{% include 'kanisa/public/pages/_breadcrumbs.html' %}
{% endblock %}

{% block content %}

{% with page.parent as parent %}
{% with page.get_published_children as children %}

{% if parent or children %}
<div class="row">

  <div class="span2">
    <div class="well" style="padding: 8px 0;">
      {% include 'kanisa/public/pages/_page_nav.html' %}
    </div>

  </div>

  <div class="span10">
    {% include 'kanisa/public/pages/_page_contents.html' with page=page only %}
  </div>
</div>
{% else %}
    {% include 'kanisa/public/pages/_page_contents.html' with page=page only %}
{% endif %}

{% endwith %}
{% endwith %}

{% endblock %}
