{% extends 'kanisa/public/base.html' %}

{% block precontent %}
{% include 'kanisa/public/pages/_breadcrumbs.html' %}
{% endblock %}

{% block content %}

{% if parent or children or perms.kanisa.manage_pages %}
<div class="row">

  <div class="col-md-2">
    {% if parent or children %}
      {% include 'kanisa/public/pages/_nav.html' %}
    {% endif %}

    {% if perms.kanisa.manage_pages %}
    <hr />
    <a class="btn btn-secondary" href="{% url 'kanisa_manage_pages_update' page.pk %}">
      Edit this Page
    </a>
    {% endif %}
  </div>

  <div class="col-md-10">
    {% if page.draft %}
    <p class="alert alert-warning">
      <strong>Warning!</strong> This page is marked as draft - it will
      not be visible to users unless they have permission to manage pages.
    </p>

    {% endif %}
    {% include 'kanisa/public/pages/_page_contents.html' with page=page only %}
  </div>
</div>
{% else %}
    {% include 'kanisa/public/pages/_page_contents.html' with page=page only %}
{% endif %}

{% endblock %}
