.thumbnail-caption {
    position: relative;
    margin-bottom: 8px;
}

.thumbnail-caption a {
    color: inherit;
}

.thumbnail-caption a:hover {
    text-decoration: inherit;
}

.kanisa_diary td {
    vertical-align: middle;
}

.kanisa_diary td div.notlast {
    padding-bottom: 3px;
}

.thumbnail .caption p.details {
    min-height: 4.5em;
    line-height: 1.5em;
}

h1.primary {
    margin-bottom: 0.7em;
}

h1 .subtitle,
h2 .subtitle {
    font-weight: normal;
    font-size: 60%;
    color: #555;
}

h4 .subtitle {
    font-weight: normal;
}

label.requiredField {
    font-weight: bold;
}

.biblepassageresponse {
    margin-left: 1em;
}

.search-result {
    margin-bottom: 1em;
}

.search-result blockquote p {
    font-size: 1em;
}

.search-result blockquote.withthumbnail {
    min-height: 100px;
}

.search-result blockquote.withthumbnail img {
    float: left;
    margin-right: 10px;
}

.help_text,
.search-result .footnote {
    font-size: 90%;
    color: #555;
}

.extra_details {
    color: #555;
}

.muted .extra_details {
    color: #aaa;
}

i.spinner {
    background-image: url(../img/ajax.gif);
    background-repeat: no-repeat;
    height: 16px;
    width: 16px;
    display: inline-block;
}

td.iconcell i.spinner {
    position: absolute;
    left: 16px;
    top: 10px;
}

th.iconcell,
td.iconcell {
    width: 32px;
    text-align: center;
    position: relative;
}

.inline-status {
    display: inline-block;
    vertical-align: middle;
}

h3 span.help_text {
    font-size: 12px;
    font-weight: normal;
}

.thumbnail-no-caption {
    position: relative
}

.thumbnail-no-caption a {
    color: inherit;
}

td h5 {
    margin-top: 0;
}

.colour-swatch {
    display: block;
    padding: 3px;
    background-color: #fff;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
}

.colour-swatch div {
    height: 40px;
    width: 40px;
}

.sidebar-nav {
    padding: 8px 0;
}

textarea.kanisamaininputwidget {
    width: 100%;
    margin-bottom: 10px;
}

.kanisaintroinputwidget {
    width: 100%
}

.kanisatinyinputwidget {
    width: 100%
}

.alert a {
    text-decoration: underline;
}

.navbar-text a {
    color: inherit;
}

.editable_block_wrapper {
    position: relative;
}

.editable_block_wrapper .editable_block_btn {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.8;
}

.lead .editable_block_btn {
    font-size: 11px;
}

.document_details_short:hover,
.document_details_full:hover {
    cursor: pointer;
}

.document_details_short span {
    font-size: 90%;
}
