/kanisa/example_project/whoosh_index/*
*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
coverage.xml
.tox
pep8.txt
.test_whoosh/

# Translations
*.mo

docs/_build
