Pillow==2.8.1
django-bootstrap3==9.1.0
django-crispy-forms==1.7.2
django-haystack==2.8.1
django-mptt==0.9.0
django-password-reset==1.0
django-recaptcha==1.4.0
django-recurrence==1.6.0
markdown==2.6.11
mutagen==1.29
sorl-thumbnail==12.4.1
Whoosh==2.7.4
Django==1.10.8
