<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link{% if current == "series" %} active{% endif %}" href="{% url 'kanisa_manage_sermons' %}">Manage Series</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if current == "sermons" %} active{% endif %}" href="{% url 'kanisa_manage_sermons_list' %}">Manage Sermons</a>
  </li>
  <li class="nav-item">
    <a class="nav-link{% if current == "speakers" %} active{% endif %}" href="{% url 'kanisa_manage_sermons_speaker' %}">
      Manage Speakers
    </a>
  </li>
</ul>
