{% load thumbnail %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Date</th>
      <th>Passage</th>
      <th>Speaker</th>
      <th>Downloads</th>
    </tr>
  </thead>
  <tbody>
    {% for sermon in sermons %}
    <tr>
      <td>
        <a href="{% url 'kanisa_manage_sermons_individual_update' sermon.pk %}">
          {{ sermon.title }}
        </a><br />
        <a href="{% url 'kanisa_manage_sermons_individual_delete' sermon.pk %}" title="Delete this sermon" class="btn btn-xs btn-danger inline-delete-btn">
          <span class="glyphicon glyphicon-trash"></span>
          Delete
        </a>
      </td>
      <td>
        <a href="{{ sermon.url }}" title="View this sermon on the site">{{ sermon.date|date:"jS F Y"}}</a>
      </td>
      <td>
        {{ sermon.passage }}
      </td>
      <td>
        <a href="{% url 'kanisa_manage_sermons_speaker_update' sermon.speaker.pk %}" title="Update {{ sermon.speaker }}'s details">
          {% thumbnail sermon.speaker.image_or_default "60x60" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" class="img-thumbnail" />
          {% endthumbnail %}
        </a>
      </td>
      <td>
        <abbr title="{{ sermon.downloads }} direct downloads">{{ sermon.downloads }}</abbr>
        /
        <abbr title="{{ sermon.podcast_downloads }} podcast downloads">{{ sermon.podcast_downloads }}</abbr>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
