{% load thumbnail %}
{% load url from future %}

{% if sermonseries_list %}
<ul class="thumbnails">
  {% for sermonseries in sermonseries_list %}
  <li class="span3">
    <div class="thumbnail">
      <div class="thumbnail-caption">
        {% thumbnail sermonseries.image "260x180" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" />
        {% endthumbnail %}

        <div class="carousel-caption">
          <h4><a href="{% url 'kanisa_manage_sermons_series_detail' sermonseries.pk %}" title="View details">
              {{ sermonseries.title }}
              <span class="subtitle">
                ({{ sermonseries.num_sermons }} sermon{{ sermonseries.num_sermons|pluralize }})
              </span>
          </a></h4>
          {% if sermonseries.passage %}<p>A series on {{ sermonseries.passage }}.</p>{% endif %}
        </div>
      </div>

      <div class="caption">

      <p>
        <a class="btn" href="{% url 'kanisa_manage_sermons_series_detail' sermonseries.pk %}">
          <i class="icon-eye-open"></i>
          View
        </a>
        {% if sermonseries.active %}
        <a class="btn" href="{% url 'kanisa_manage_sermons_series_complete' sermonseries.pk %}">
          <i class="icon-ok"></i>
          Mark Complete
        </a>
        {% endif %}
      </p>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
<div class="alert alert-warning">
There are no sermon series to display.
</div>
{% endif %}
