{% load thumbnail %}

{% if sermonseries_list %}
<table class="table table-striped sermonseries-table">
  {% for sermonseries in sermonseries_list %}
  <tr>
    <th>
      {% thumbnail sermonseries.image_or_default "100x100" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" class="thumbnail" />
      {% endthumbnail %}
    </th>
    <td>
      <p>
        <h4>
          <a href="{% url 'kanisa_manage_sermons_series_detail' sermonseries.pk %}" title="Edit this series">
            {{ sermonseries.title }}
            <small>
              ({{ sermonseries.num_sermons }} sermon{{ sermonseries.num_sermons|pluralize }})
            </small>
          </a>
        </h4>
      </p>
      <p>
        <a class="btn btn-default" href="{% url 'kanisa_manage_sermons_series_detail' sermonseries.pk %}">
          <i class="glyphicon glyphicon-edit"></i>
          Edit
        </a>

        {% if sermonseries.active %}
        <a class="series_complete btn" href="{% url 'kanisa_manage_sermons_series_complete' sermonseries.pk %}" data-series-id="{{ sermonseries.pk }}">
          <i class="glyphicon glyphicon-ok"></i>
          Mark Complete
        </a>
        <span class="inline-status"></span>
        {% endif %}
      </p>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<div class="alert alert-warning">
There are no sermon series to display.
</div>
{% endif %}
