{% extends 'kanisa/management/sermons/base.html' %}

{% block content %}
{% include "kanisa/management/sermons/_nav.html" with current="series" %}
<p>
    <a href="{% url 'kanisa_manage_sermons_individual_create' %}" class="btn btn-lg btn-success">
      <i class="glyphicon glyphicon-plus"></i>
      Add a new sermon &raquo;
    </a>
    <a href="{% url 'kanisa_manage_sermons_series_create' %}" class="btn btn-default btn-lg">Create a new series &raquo;</a>
</p>

<hr />

{% include 'kanisa/management/sermons/_series_table.html' %}

{% endblock %}
