{% extends 'kanisa/management/sermons/base.html' %}

{% block content %}
{% include "kanisa/management/sermons/_nav.html" with current="sermons" %}
<p>
    <a href="{% url 'kanisa_manage_sermons_individual_create' %}" class="btn btn-lg btn-success">
      <i class="glyphicon glyphicon-plus"></i>
      Add a new sermon &raquo;
    </a>
    <a href="{% url 'kanisa_manage_sermons_series_create' %}" class="btn btn-default btn-lg">Create a new series &raquo;</a>
</p>

<hr />

{% include 'kanisa/management/sermons/_thumbnails.html' %}

{% if standalone %}
<hr />
<h2>Standalone Sermons</h2>
<p class="alert alert-info">Sermons in this section are not part of a series.</p>
{% include 'kanisa/management/sermons/_sermon_table.html' with sermons=standalone%}

{% endif %}

{% endblock %}
