{% extends 'kanisa/management/sermons/base.html' %}

{% load url from future %}
{% load thumbnail %}

{% block content %}
{% include "kanisa/management/sermons/_nav.html" with current="sermons" %}
<p>
  <a href="{% url 'kanisa_manage_sermons_individual_create' %}?series={{ object.pk }}" class="btn btn-large btn-success">
    <i class="icon-white icon-plus"></i>
    Add a sermon to this series
  </a>
</p>
<hr />
<div class="row">
  <div class="span7">
  {% if object.details %}
  <blockquote>
  <p>{{ object.details }}</p>
  </blockquote>
  {% endif %}

  <a class="btn" href="{% url 'kanisa_manage_sermons_series_update' sermonseries.pk %}">
    <i class="icon-edit"></i>
    Edit this series
  </a>
  <a class="btn" href="{% url 'kanisa_public_sermon_series_detail' sermonseries.slug %}">
    <i class="icon-eye-open"></i>
    View on site
  </a>

  {% if object.active %}
  <a class="series_complete btn" href="{% url 'kanisa_manage_sermons_series_complete' sermonseries.pk %}" data-series-id="{{ sermonseries.pk }}">
    <i class="icon-ok"></i>
    Mark Complete
  </a>
  <span class="inline-status"></span>
  {% endif %}

  <hr />

  <h2>Sermons in this Series</h2>

  {% with object.sermon_set.all as sermons %}
  {% if sermons %}
    {% include 'kanisa/management/sermons/_sermon_table.html' %}
  {% else %}
    <div class="alert alert-warning">
    There are no sermons in this series.
    </div>
  {% endif %}
  {% endwith %}
  </div>
  <div class="span3">
    <div class="thumbnail">
    {% thumbnail object.image "260x180" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" />
    {% endthumbnail %}
    </div>
  </div>
</div>
{% endblock %}
