{% extends 'kanisa/management/sermons/base.html' %}

{% block content %}
{% include "kanisa/management/sermons/_nav.html" with current="sermons" %}
<p>
    <a href="{% url 'kanisa_manage_sermons_individual_create' %}" class="btn btn-lg btn-success">
      Add a new sermon &raquo;
    </a>
    <a href="{% url 'kanisa_manage_sermons_series_create' %}" class="btn btn-secondary btn-lg">Create a new series &raquo;</a>
</p>

<hr />

{% include 'kanisa/management/sermons/_sermon_table.html' with sermons=sermon_list %}

{% include "kanisa/_simple_pagination.html" %}

{% endblock %}
