{% extends 'kanisa/management/base.html' %}

{% load thumbnail %}

{% block content %}
{% include "kanisa/management/sermons/_nav.html" with current="speakers" %}
<p>
  <a href="{% url 'kanisa_manage_sermons_speaker_create' %}" class="btn btn-large btn-success">
    <i class="icon-white icon-plus"></i>
    Add a speaker
  </a>
</p>
<hr />

<ul class="thumbnails">
  {% for speaker in sermonspeaker_list %}
  <li class="span2">
    <div class="thumbnail">
      <div style="position: relative;">
        <a href="{% url 'kanisa_manage_sermons_speaker_update' speaker.pk %}" title="Edit this speaker's profile">
          {% if speaker.image_or_default %}
          {% thumbnail speaker.image_or_default "130x130" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" />
          {% endthumbnail %}
          {% endif %}

          <div class="carousel-caption tiny-carousel">
            <p>
              <strong>
                {{ speaker }}
              </strong>
              <span class="subtitle">
                ({{ speaker.num_sermons }} sermon{{ speaker.num_sermons|pluralize }})
              </span>
            </p>
          </div>
        </a>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
