{% extends 'kanisa/management/base.html' %}

{% load url from future %}
{% load thumbnail %}

{% block content %}
<p><a href="{% url 'kanisa_manage_sermons_speaker_create' %}" class="btn btn-large btn-primary">Add a speaker &raquo;</a></p>
<hr />

<ul class="thumbnails">
{% for speaker in sermonspeaker_list %}
    <li class="span3">
        <div class="thumbnail">
            <div style="position: relative;">
            <a href="{% url 'kanisa_manage_sermons_speaker_update' speaker.pk %}" title="Edit this speaker's profile">
            {% thumbnail speaker.image "260x220" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" />
            {% endthumbnail %}

            <div class="carousel-caption">
            <h4>{{ speaker }}</h4>
            </div>
            </a>
            </div>
        </div>
    </li>
{% endfor %}
</ul>

{% endblock %}
