{% if bands %}
<table class="table table-striped">
  <tbody>
    {% for band in bands %}
    <tr>
      <td>
        <a href="{% url 'kanisa_members_services_update_band' band.pk %}">
          {{ band }}
        </a>
      </td>
      <td>
        <a href="{% url 'kanisa_members_services_remove_band' band.pk %}" class="btn btn-danger btn-xs">
          <i class="glyphicon glyphicon-trash"></i>
          Delete
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="alert alert-warning">
  <strong>Sorry!</strong>

  There aren't any bands set up yet. Why not <a href="{% url 'kanisa_members_services_create_band' %}">create one</a>?
</p>
{% endif %}
