{% load kanisa_feather %}
{% if report.songs %}

<p>Showing <strong>{{ report.songs|length }} song{{ report.songs|length|pluralize }}</strong>.</p>

<hr />

<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Song
        <a href="{% url 'kanisa_members_services_ccli_by_title' %}?event={{ filters.event.pk }}&start_date={{ filters.start_date|date:"m/d/Y" }}&end_date={{ filters.end_date|date:"m/d/Y" }}">
        {% kanisa_feather "chevron-down" %}</a>
      </th>
      <th>
        Composers
      </th>
      {% if not filters.show_unsung %}
      <th width="100px" style="text-align: right">
        Usage
        <a href="{% url 'kanisa_members_services_ccli_by_usage' %}?event={{ filters.event.pk }}&start_date={{ filters.start_date|date:"m/d/Y" }}&end_date={{ filters.end_date|date:"m/d/Y" }}">
        {% kanisa_feather "chevron-down" %}</a>
      </th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for song,composers,usage in report.songs %}
    <tr>
      <td>
        <a href="{% url 'kanisa_members_services_song_detail' song.pk %}" title="View song information">
          {{ song.title }}
        </a>
      </td>
      <td>{{ composers|join:"; " }}</td>
      {% if not filters.show_unsung %}
      <td style="text-align: right">{{ usage }}</td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="alert alert-warning">
  <strong>Sorry!</strong>

  No song matches that query.
</p>
{% endif %}
