<p>Showing counts only for songs used:
  <ul>
    {% if filters.event %}
    <li>
      in <strong>{{ filters.event }}</strong>
      <a href="?start_date={{ filters.start_date|date:"m/d/Y" }}&end_date={{ filters.end_date|date:"m/d/Y" }}"><i class="icon-remove-sign"></i></a>
    </li>
    {% endif %}

    {% if filters.start_date %}
    <li>
      on or after <strong>{{ filters.start_date|date:"jS F Y" }}</strong>
      <a href="?event={{ filters.event.pk }}&end_date={{ filters.end_date|date:"m/d/Y" }}"><i class="icon-remove-sign"></i></a>
    </li>
    {% endif %}

    {% if filters.end_date %}
    <li>
      before <strong>{{ filters.end_date|date:"jS F Y" }}</strong>
      <a href="?event={{ filters.event.pk }}&start_date={{ filters.start_date|date:"m/d/Y" }}"><i class="icon-remove-sign"></i></a>
    </li>
    {% endif %}
  </ul>
</p>
