{% load kanisa_feather %}
<p>
{% if filters.show_unsung %}
  Showing counts only for songs not used:
{% else %}
  Showing counts only for songs used:
{% endif %}
  <ul>
    {% if filters.event %}
    <li>
      in <strong>{{ filters.event }}</strong>
      <a href="?start_date={{ filters.start_date|date:"m/d/Y" }}&end_date={{ filters.end_date|date:"m/d/Y" }}">{% kanisa_feather "minus-circle" %}</a>
    </li>
    {% endif %}

    {% if filters.start_date %}
    <li>
      on or after <strong>{{ filters.start_date|date:"jS F Y" }}</strong>
      <a href="?event={{ filters.event.pk }}&end_date={{ filters.end_date|date:"m/d/Y" }}">{% kanisa_feather "minus-circle" %}</a>
    </li>
    {% endif %}

    {% if filters.end_date %}
    <li>
      before <strong>{{ filters.end_date|date:"jS F Y" }}</strong>
      <a href="?event={{ filters.event.pk }}&start_date={{ filters.start_date|date:"m/d/Y" }}">{% kanisa_feather "minus-circle" %}</a>
    </li>
    {% endif %}
  </ul>
</p>
