<form class="service-songs-edit" method="post" action="{% url 'kanisa_members_services_add_song' object.pk %}">
  {% csrf_token %}
  <select name="song" id="id_song">
    <option value="">Select a Song</option>
    {% for song in all_songs %}
    <option value="{{ song.pk }}">{{ song.title }}</option>
    {% endfor %}
  </select>
  <br />
  <button class="btn btn-success">
    Add this song
  </button>
  <a class="btn btn-secondary" href="{% url 'kanisa_members_services_create_song' object.pk %}">
    <i class="glyphicon glyphicon-bullhorn"></i>
    Add a new song
  </a>
</form>

<hr />

<p>Looking for inspiration? Take a look at the <a href="{% url 'kanisa_members_services_songs' %}">Song Finder</a>.</p>
