{% if service_list %}

{% if active_in_some_services %}
  <div class="alert alert-info">
    <strong>You&rsquo;re involved in some services!</strong><br />

    Services you&rsquo;re participating in are highlighted in
    blue below.
  </div>
{% endif %}

<table class="table table-striped">
  <thead>
    <tr>
      <th>Event</th>
      <th>Date</th>
      <th>Band Leader</th>
    </tr>
  </thead>
  <tbody>
    {% for plan in service_list %}
    <tr{% if plan.user_is_involved %} class="involved-in-serviceplan"{% endif %}>
      <td>
        <a href="{% url 'kanisa_members_services_detail' plan.pk %}">{{ plan.event }}</a>
      </td>
      <td>
        {{ plan.event.date|date:"jS M Y" }}
      </td>
      <td>
        {{ plan.band_leader.get_display_name }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "kanisa/_simple_pagination.html" %}

{% else %}
<p class="alert alert-warning">
  <strong>Sorry!</strong>

  There aren't any service plans set up yet.
</p>
{% endif %}
