{% if service_list %}
<table class="table table-striped">
  <tbody>
    {% for plan in service_list %}
    <tr>
      <td>
        <a href="{% url 'kanisa_members_services_detail' plan.pk %}">{{ plan.event }}</a>
        <br />
        <small class="text-muted">{{ plan.event.date|date:"jS F Y" }}</small>
      </td>
      <td>
        {{ plan.band_leader.get_display_name }}
      </td>
      {% if perms.kanisa.manage_services %}
      <td>
        <a href="{% url 'kanisa_members_services_delete' plan.pk %}" class="btn btn-danger btn-sm float-right">
          Delete
        </a>
      </td>
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% include "kanisa/_simple_pagination.html" %}

{% else %}
<p class="alert alert-warning">
  <strong>Sorry!</strong>

  There aren't any service plans set up yet.
  {% if perms.kanisa.manage_services %}
  Why not <a href="{% url 'kanisa_members_services_create' %}">create one</a>?
  {% endif %}
</p>
{% endif %}
