{% if service_list %}
<table class="table table-striped">
  <tbody>
    {% for plan in service_list %}
    <tr>
      <td>
        <a href="{% url 'kanisa_members_services_detail' plan.pk %}">{{ plan.event }}</a>
      </td>
      <td>
        {{ plan.event.date }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="alert alert-warning">
  <strong>Sorry!</strong>

  There aren't any service plans set up yet. Why not <a href="{% url 'kanisa_members_services_create' %}">create one</a>?
</p>
{% endif %}
