{% if songs %}
  <h3>Songs</h3>
  <ol>
    {% for song in songs %}
      {% with song.song.composer_list as composers %}
      <li>
        <a href="{% url 'kanisa_members_services_song_detail' song.song.pk %}" title="View song information">
          {{ song.song.title }}
        </a>
        {% if composers %}
        &mdash; <em>{{ composers|join:", " }}</em>
        {% endif %}
      </li>
      {% endwith %}
    {% endfor %}
  </ol>
{% else %}
<p class="alert alert-warning">
  <strong>Sorry!</strong>

  There are currently no songs associated with this service plan.
</p>
{% endif %}
