{% extends 'kanisa/members/base.html' %}

{% load url from future %}

{% block content %}

<div class="row">

  <div class="span7">
    {% if songs %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>
            Song
          </th>
          <th>
            Composers
          </th>
          <th>
            Usage
          </th>
        </tr>
      </thead>
      <tbody>
        {% for song in songs %}
        <tr>
          <td>{{ song.title }}</td>
          <td>{{ song.composer_list|join:"; " }}</td>
          <td>{{ song.usage }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p class="alert alert-warning">
      <strong>Sorry!</strong>

      There aren't any songs recorded yet.
    </p>
    {% endif %}

  </div>
  <div class="span3">
    <form class="form" method="get" action=".">
      <fieldset>
        <legend>Filter Usage</legend>
        {% if filters %}
        <p>Showing counts only for songs used:
          <ul>
            {% if filters.event %}
            <li>
              in <strong>{{ filters.event }}</strong>
              <a href="?"><i class="icon-remove-sign"></i></a>
            </li>
            {% endif %}
          </ul>
        </p>
        {% endif %}
        <div class="control-group">
          <label for="limit_event" class="control-label">Limit to:</label>
          <div class="controls">
            <select name="limit_event">
              <option value="">All events</option>
              {% for event in events %}
              <option value="{{ event.pk }}"{% if filters.event.pk == event.pk %} selected="selected"{% endif %}>{{ event.title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </fieldset>
      <input type="submit" value="Filter" class="btn btn-primary" />
    </form>
  </div>
</div>

{% endblock %}
