{% extends 'kanisa/members/base.html' %}

{% load static from staticfiles %}

{% block extrajs %}
  <link rel="stylesheet" type="text/css" media="all" href="{% static 'kanisa/vendor/chosen-1.0.0/chosen.min.css' %}" />
  <script src="{% static 'kanisa/vendor/chosen-1.0.0/chosen.jquery.min.js' %}"></script>
  {% include "kanisa/management/_js.html" %}
{% endblock %}


{% block content %}
<div class="row">
  <div class="col-md-9">
    <div class="visible-xs">
      {% include 'kanisa/members/services/_ccli_filter.html' %}
    </div>
    {% include 'kanisa/members/services/_ccli_songs.html' %}
  </div>
  <div class="col-md-3">
    <div class="hidden-xs">
      {% include 'kanisa/members/services/_ccli_filter.html' %}
    </div>
  </div>
</div>
{% endblock %}
