{% extends 'kanisa/members/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-7">
    <h3>View Service Plans</h3>

  {% include 'kanisa/members/services/_serviceplan_table.html' %}

  {% if perms.kanisa.manage_services %}
    <p>
      <a class="btn btn-success" href="{% url 'kanisa_manage_services_create' %}">
        <i class="glyphicon glyphicon-plus"></i>
        Create a Service Plan
      </a>
    </p>
  {% endif %}


  <hr />

  {% if showing_all %}
    <p class="text-muted">
      These are all the service plans. Want to
      <a href="{% url 'kanisa_members_services_index' %}">just see
      plans for upcoming services</a>?
    </p>

  {% else %}
    <p class="text-muted">
      Not including past service plans. Want to
      <a href="{% url 'kanisa_members_services_index_all' %}">see old plans
      too</a>?
    </p>
  {% endif %}

  {% if perms.kanisa.manage_services %}
  <h3>Available Bands</h3>
  {% include 'kanisa/members/services/_band_table.html' %}

  <p>
    <a class="btn btn-success" href="{% url 'kanisa_members_services_create_band' %}">
      <i class="glyphicon glyphicon-plus"></i>
      Create a Band
    </a>
  </p>
  {% endif %}
  </div>
  <div class="col-md-5">
    {% include 'kanisa/members/services/_ccli_top5.html' %}

    <hr />

    <h3>Song Finder</h3>

    <p>
      Find songs based on title, composer, or usage. Take a look at
      the <a href="{% url 'kanisa_members_services_songs' %}"
      title="Use the Song Finder">Song Finder</a>.
    </p>
  </div>
</div>
{% endblock %}
