{% extends 'kanisa/members/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-5">
    {% include 'kanisa/members/services/_service_detail_intro.html' %}
  </div>

  <div class="col-md-7">
    {% with songs=object.songinservice_set.all %}
    {% include 'kanisa/members/services/_song_table.html' %}
    {% endwith %}
  </div>
</div>
<hr />

<ul class="pager">
  <li class="previous">
    <a href="{% url 'kanisa_members_services_index' %}">
      &larr; Back to the list of Service Plans
    </a>
  </li>
</ul>
{% endblock %}
