{% extends 'kanisa/members/base.html' %}

{% load url from future %}

{% block content %}

<p class="lead">
  This is a service plan for <strong>{{ object.event.title }}</strong>
  on <strong>{{ object.event.date|date:"jS F Y" }}</strong>. Queries
  about music should be directed to
  <strong>{% firstof object.band_leader.get_full_name object.band_leader %}</strong>.
</p>

{% include 'kanisa/members/services/_song_table.html' with songs=object.songs.all %}

<a class="btn btn-success" href="{% url 'kanisa_members_services_add_song' object.pk %}">
  <i class="icon-white icon-plus"></i>
  Add a song to this service plan
</a>

<ul class="pager">
<li class="previous">
<a href="{% url 'kanisa_members_services_index' %}">
&larr; Back to the list of plans
</a>
</li>
</ul>

{% endblock %}
