{% if banners %}

{% load thumbnail %}
{% load url from future %}

<div id="banners_carousel" class="carousel slide" style="height: 400px">
  <!-- Carousel items -->
  <div class="carousel-inner">
    {% for banner in banners %}
    <div class="item{% if forloop.first %} active {% endif %}">
      {% thumbnail banner.image "770x400" crop="center" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" />
      {% endthumbnail %}
      <div class="carousel-caption">
        <h4>{{ banner.headline }}</h4>
        {% if banner.contents %}
        <p>{{ banner.contents }}</p>
        {% endif %}
        {% if banner.url %}
        <a href="{% url 'kanisa_public_banners_visit' banner.pk %}" title="{{ banner.link_text|default:"Find out more" }}">
          {{ banner.link_text|default:"Find out more" }} &raquo;
        </a>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#banners_carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#banners_carousel" data-slide="next">&rsaquo;</a>
</div>

<script type="text/javascript">
  $('.carousel').carousel({
  interval: 2000
  });
</script>
{% endif %}
