{% load url from future %}

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li>
            <a href="/">Home</a>
          </li>
          {% for element, children in KANISA_NAVIGATION %}
          {% if not element.require_login or user.is_authenticated %}
          {% include 'kanisa/_nav_element.html' %}
          {% endif %}
          {% endfor %}
        </ul>
        {% if user.is_authenticated %}
        <p class="navbar-text pull-right">Welcome, {{ user }}
          (<a href="{% url 'kanisa_public_logout' %}">Logout</a>)
        </p>
        {% else %}
        <p class="navbar-text pull-right">
          <a href="{% url 'kanisa_public_login' %}">Login</a>
          /
          <a href="{% url 'kanisa_public_registration' %}">Register</a>
        </p>
        {% endif %}
        <form class="navbar-search pull-right" style="margin-right: 20px;" action="{% url 'kanisa_public_search' %}">
          <input type="text" class="search-query" placeholder="Search" name="query">
        </form>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
