{% load url from future %}

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <div class="nav-collapse">
        <ul class="nav">
          <li class="active"><a href="/">Home</a></li>
          <li>
            <a href="{% url 'kanisa_public_diary_index' %}" title="View the Church diary">Diary</a>
          </li>
          <li>
            <a href="{% url 'kanisa_public_sermon_index' %}" title="Browse our sermon archive">Sermons</a>
          </li>
          {% if user.is_staff %}
          <li class="dropdown">
            <a href="{% url 'kanisa_manage_index' %}">
              Members
            </a>
          </li>
          {% endif %}
        </ul>
        {% if user.is_authenticated %}
        <p class="navbar-text pull-right">Welcome, {{ user }}
          (<a href="{% url 'kanisa_public_logout' %}">Logout</a>)
        </p>
        <form class="navbar-search pull-right" style="margin-right: 20px;" action="{% url 'kanisa_manage_search' %}">
          <input type="text" class="search-query" placeholder="Search" name="query">
        </form>
        {% else %}
        <ul class="nav pull-right">
          <li>
            <a href="{% url 'kanisa_public_login' %}">Login</a>
          </li>
        </p>
        {% endif %}
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>
