<nav class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kanisa-navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <ul class="nav navbar-nav pull-left">
      <li>
        <a href="/">Home</a>
      </li>
    </ul>
  </div>
  <div class="collapse navbar-collapse" id="kanisa-navbar-collapse">
    <ul class="nav navbar-nav">
      {% for element, children in KANISA_NAVIGATION %}
      {% if not element.require_login or user.is_authenticated %}
      {% include 'kanisa/_nav_element.html' %}
      {% endif %}
      {% endfor %}
    </ul>
    <div class="visible-xs">
      {% include "kanisa/_search_form.html" %}
    </div>

    {% if user.is_authenticated %}
      {% include "kanisa/_header_logged_in.html" %}
    {% else %}
    <p class="navbar-text pull-right">
      <a href="{% url 'kanisa_members_login' %}">Login</a>
      {% if KANISA_ALLOW_REGISTRATION %}
      /
      <a href="{% url 'kanisa_members_registration' %}">Register</a>
      {% endif %}
    </p>
    {% endif %}
  </div>
</nav>
