{% load static from staticfiles %}
{% load bootstrap4 %}

<meta charset="utf-8">
<title>{% if kanisa_title %}{{ kanisa_title }} - {% endif %}{{ KANISA_CHURCH_NAME }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

{% bootstrap_css %}

{% include "kanisa/_css.html" %}
{% include 'kanisa/_icons.html' %}

<script src="{% static 'kanisa/vendor/bootstrap-4.1.1/js/popper.min.js' %}"></script>
{% bootstrap_javascript jquery="full" %}
<script src="{% static 'kanisa/vendor/jquery.cookie-1.4.1.min.js' %}"></script>
{% include "kanisa/public/_js.html" %}

{% if form %}
{{ form.media }}
{% endif %}

{% include "kanisa/_google_analytics.html" %}
