{% load kanisa_branding %}
{% load thumbnail %}

{% kanisa_branding 'logo' as logo_information %}

{% if logo_information.url %}
<div class="row" style="margin-bottom: 10px">
  <div class="span12" id="logo">
    {% thumbnail logo_information.url "460x140" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px"/>
    {% endthumbnail %}
    <form class="navbar-search pull-right" style="margin-right: 20px;" action="{% url 'kanisa_public_search' %}">
      <input type="text" class="search-query" placeholder="Search" name="query" />
    </form>
  </div>
</div>
{% endif %}
