{% if element.is_leaf_node %}
<li class="nav-item">
  <a class="nav-link" href="{{ element.url }}" title="{{ element.description }}">{{ element.title }}</a>
</li>
{% else %}
<li class="nav-item dropdown">
  <a href="{{ element.url }}"
     title="{{ element.description }}"
     class="nav-link dropdown-toggle"
     data-toggle="dropdown">
    {{ element.title }}
  </a>
  <div class="dropdown-menu">
    {% if element.url %}
    <a href="{{ element.url }}" class="dropdown-item" title="{{ element.description }}">{{ element.get_alternate_title }}</a>
    {% endif %}
    {% for child in children %}
    {% if not child.require_login or user.is_authenticated %}
    <a href="{{ child.url }}" class="dropdown-item" title="{{ child.description }}">{{ child.title }}</a>
    {% endif %}
    {% endfor %}
  </div>
</li>
{% endif %}
