{% extends 'kanisa/base.html' %}

{% load thumbnail %}

{% block content %}
<div class="row">
  <div class="span4">
    <h1>Welcome to {{ KANISA_CHURCH_NAME }}</h1>
    <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>
  </div>

  <div class="span8">
    <div id="myCarousel" class="carousel slide">
      <!-- Carousel items -->
      <div class="carousel-inner">
        {% for banner in banners %}
        <div class="item">
          {% thumbnail banner.image "770x400" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" />
          {% endthumbnail %}
          <div class="carousel-caption">
            <h4>{{ banner.headline }}</h4>
            {% if banner.contents %}
            <p>{{ banner.contents }}</p>
            {% endif %}
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
</div>

<script type="text/javascript">
  $('.carousel').carousel({
  interval: 2000
  })
</script>

{% endblock %}
