{% extends 'kanisa/management/base.html' %}

{% block content %}
<p>
  <a href="{% url 'kanisa_manage_blog_create' %}" class="btn btn-lg btn-success">
    <i class="glyphicon glyphicon-plus"></i>
    Write a Blog Post
  </a>
</p>

<hr />

{% if object_list %}

<table class="table table-striped">
<tr>
  <th>Title</th>
  <th>Status</th>
  <th>Publication Date</th>
  <th>Author</th>
</tr>
{% for object in object_list %}
<tr>
  <td>
    <a href="{% url 'kanisa_manage_blog_update' object.pk %}" title="Edit this blog post">
      {{ object.title }}
    </a>
    <a class="btn btn-secondary btn-sm float-right" href="{{ object.get_absolute_url }}" title="View on site">View</a>
  </td>
  <td>
    {% if object.published %}
    Published
    {% else %}
    Scheduled
    {% endif %}
  </td>
  <td>
    {{ object.publish_date|date:"jS F Y" }}
  </td>
  <td>
    {{ object.author.get_full_name }}
  </td>
</tr>
{% endfor %}
</table>

{% else %}
<div class="alert alert-warning">
There are no posts to display.
</div>
{% endif %}

{% endblock %}
