{% if report.songs %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>
        Song
        <a href="{% url 'kanisa_manage_services_ccli_by_title' %}?event={{ filters.event.pk }}&start_date={{ filters.start_date|date:"m/d/Y" }}&end_date={{ filters.end_date|date:"m/d/Y" }}">
        <i class="glyphicon glyphicon-chevron-down"></i></a>
      </th>
      <th>
        Composers
      </th>
      <th width="100px" style="text-align: right">
        Usage
        <a href="{% url 'kanisa_manage_services_ccli_by_usage' %}?event={{ filters.event.pk }}&start_date={{ filters.start_date|date:"m/d/Y" }}&end_date={{ filters.end_date|date:"m/d/Y" }}">
        <i class="glyphicon glyphicon-chevron-down"></i></a>
      </th>
    </tr>
  </thead>
  <tbody>
    {% for song,composers,usage in report.songs %}
    <tr>
      <td>{{ song.title }}</td>
      <td>{{ composers|join:"; " }}</td>
      <td style="text-align: right">{{ usage }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="alert alert-warning">
  <strong>Sorry!</strong>

  No song matchs that query.
</p>
{% endif %}
