{% if songs %}
<table class="table table-striped song-table" id="serviceplan_songtable">
  <thead>
    <tr>
      <th>Title</th>
      <th>Composers</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for song in songs %}
    <tr>
      <td>
        <a href="{% url 'kanisa_members_services_song_detail' song.song.pk %}" title="View song information">
          {{ song.song.title }}
        </a>
      </td>
      <td>
        {% for composer in song.song.composer_list %}
          <a href="{% url 'kanisa_members_services_composer_detail' composer.pk %}" title="View other songs by {{ composer }}">{{ composer }}</a>{% if not forloop.last %}; {% endif %}
        {% endfor %}
      </td>
      <td>
        {% if not forloop.first %}
        <form method="post" action="{% url 'kanisa_manage_services_move_song_up' object.pk song.pk %}">
          {% csrf_token %}
          <span class="status-block"></span>
          <button type="submit" class="btn btn-default btn-xs change-song">
            <i class="glyphicon glyphicon-arrow-up"></i>
          </button>
        </form>
        {% endif %}
      </td>
      <td>
        {% if not forloop.last %}
        <form method="post" action="{% url 'kanisa_manage_services_move_song_down' object.pk song.pk %}">
          {% csrf_token %}
          <span class="status-block"></span>
          <button type="submit" class="btn btn-default btn-xs change-song">
            <i class="glyphicon glyphicon-arrow-down"></i>
          </button>
        </form>
        {% endif %}
      </td>
      <td>
        <form method="post" action="{% url 'kanisa_manage_services_remove_song' object.pk song.pk %}">
          {% csrf_token %}
          <span class="status-block"></span>
          <button type="submit" class="btn btn-xs btn-danger change-song">
            <i class="glyphicon glyphicon-trash"></i>
          </button>
        </form>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="alert alert-warning">
  <strong>Sorry!</strong>

  There are no songs associated with this service plan. Why not
  <a href="{% url 'kanisa_manage_services_add_song' object.pk %}">add one</a>?
</p>
{% endif %}
