{% extends 'kanisa/management/base.html' %}

{% block extrajs %}
<link href="{{ STATIC_URL }}kanisa/vendor/bootstrap/css/datepicker.css" type="text/css" media="all" rel="stylesheet" />
<script type="text/javascript" src="{{ STATIC_URL }}kanisa/vendor/bootstrap/js/bootstrap-datepicker.js"></script>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span7">
    {% include 'kanisa/management/services/_ccli_songs.html' %}
  </div>
  <div class="span3">
    {% include 'kanisa/management/services/_ccli_filter.html' %}
  </div>
</div>
{% endblock %}
