{% extends 'kanisa/management/base.html' %}

{% block content %}
<div class="row">
  <div class="col-md-4">
    {% include 'kanisa/members/services/_service_detail_intro.html' %}
  </div>

  <div class="col-md-8">
    <div id="serviceplan_songinfo">
      {% with songs=object.songinservice_set.all %}
      {% include 'kanisa/management/services/_song_table.html' %}
      {% endwith %}
    </div>

    <hr />

    {% include 'kanisa/management/services/_service_songs_form.html' %}
  </div>
</div>
<hr />

<ul class="pager">
  <li class="previous">
    <a href="{% url 'kanisa_members_services_index' %}">
      &larr; Back to the list of Service Plans
    </a>
  </li>
</ul>
{% endblock %}
