{% load thumbnail %}

{% for series in active_series %}
<div class="sermon_series_list">

<h2>
  <a href="{% url 'kanisa_public_sermon_series_detail' series.slug %}" title="View this series">{{ series.title }}</a>
  {% if series.passage %}
  <small>
    (a series on {{ series.passage }})
  </small>
  {% endif %}
</h2>

{% if series.image %}
<div class="row">
  <div class="col-md-3">
    <div class="thumbnail">
      {% thumbnail series.image "131x110" crop="center" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" />
      {% endthumbnail %}
    </div>
  </div>
  <div class="col-md-9">
    {% include "kanisa/public/sermons/_series_list_detail.html" %}
  </div>
</div>
{% else %}
    {% include "kanisa/public/sermons/_series_list_detail.html" %}
{% endif %}
</div>
<hr />
{% endfor %}
