{% load url from future %}

{% if sermons %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Sermon</th>
      <th>Passage</th>
    </tr>
  </thead>
  <tbody>
    {% for sermon in sermons %}
    <tr{% if sermon.in_the_future %} class="muted"{% endif %}>
      <td>
        {% if sermon.pk != current.pk and not sermon.in_the_future %}
        <a href="{% url 'kanisa_public_sermon_detail' sermon.series.slug sermon.slug %}">{{ sermon.title }}</a>
        {% else %}
        {{ sermon.title }}
        {% endif %}
        <span class="extra_details">&ndash; {{ sermon.date|date:"jS F Y"}}</span>
      </td>
      <td>
        {{ sermon.passage }}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<p class="alert alert-info">There are no sermons in this series yet.</p>
{% endif %}
