{% load kanisa_markup %}
{% load thumbnail %}

{% with object.series as series %}
{% if series %}
<h2 style="line-height: 1em">
  <a href="{% url 'kanisa_public_sermon_series_detail' series.slug %}">{{ series.title }}</a><br />
  {% include "kanisa/public/sermons/_subtitle.html" with object=series %}
</h2>
{% if series.image %}
<div class="thumbnail" style="width:130; float: left; margin: 0 1em 1em 0">
  {% thumbnail series.image "130x130" crop="center" as im %}
  <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" />
  {% endthumbnail %}
</div>
{% endif %}

{% if series.intro %}
{{ series.intro|kanisa_markdown }}
{% endif %}

{% with series.sermons as sermons %}
{% include "kanisa/public/sermons/_series_table_of_sermons.html" with current=object%}
{% endwith %}

<hr />

{% endif %}
{% endwith %}
