{% load kanisa_markup %}
{% load thumbnail %}
{% load url from future %}

{% for series in active_series %}
<div class="row" style="margin-bottom: 1em;">
  <div class="span2">
    <div class="thumbnail">
      {% thumbnail series.image "160x135" crop="center" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" />
      {% endthumbnail %}
    </div>
  </div>
  <div class="span5">
    <h2 style="margin-top: 0">
      <a href="{% url 'kanisa_public_sermon_series_detail' series.slug %}" title="View this series">{{ series.title }}</a>
      <span class="subtitle">
        ({{ series.num_sermons }} sermon{{ series.num_sermons|pluralize }}{% if series.passage %} in a series on {{ series.passage }}{% endif %})
      </span>
    </h2>

    {% if series.intro %}
    <div class="lead">
    {{ series.intro|kanisa_markdown }}
    </div>
    {% else %}
    {% with series.sermons as sermons %}
    {% include "kanisa/public/sermons/_series_table_of_sermons.html" %}
    {% endwith %}
    {% endif %}
    {% with series.date_range as date_range %}
    {% if date_range %}
    <p>
      This series began on {{ date_range|first|date:"jS F Y" }}.
    </p>
    {% endif %}
    {% endwith %}
  </div>
</div>
<hr />
{% endfor %}
