{% extends 'kanisa/base.html' %}

{% load markup %}
{% load thumbnail %}

{% block content %}
<h1>
  {{ object.title }}
  {% if object.passage %}
  <span class="subtitle">A series on {{ object.passage }}</span>
  {% endif %}
</h1>

<div class="row">
  <div class="span7">
    <div class="lead">
      <div class="thumbnail" style="width:260px; float: left; margin: 0 1em 1em 0">
        {% thumbnail sermonseries.image "260x180" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" />
        {% endthumbnail %}
      </div>
      {{ object.intro|markdown }}
    </div>
    {% if object.details %}
    {{ object.details|markdown }}
    {% endif %}
  </div>
  <div class="span5">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Title</th>
          <th>Date</th>
          <th>Passage</th>
        </tr>
      </thead>
      <tbody>
        {% for sermon in object.sermons %}
        <tr>
          <td>
            {{ sermon.title }}
          </td>
          <td>
            {{ sermon.date|date:"jS F Y"}}
          </td>
          <td>
            {{ sermon.passage }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

  </div>
</div>
{% endblock %}
