{% extends 'kanisa/public/base.html' %}

{% load kanisa_markup %}
{% load thumbnail %}

{% block precontent %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'kanisa_public_index' %}">Home</a>
  </li>
  <li>
    <a href="{% url 'kanisa_public_sermon_index' %}">Sermons</a>
  </li>
  <li class="active">
    {{ object.title }}
  </li>
</ul>
{% endblock %}

{% block content %}
<h1 class="primary">
  {{ object.title }}
  {% include "kanisa/public/sermons/_subtitle.html" %}
</h1>

<div class="row">
  {% if sermonseries.image %}
  <div class="col-md-2">
    {% thumbnail sermonseries.image_or_default "130x130" crop="center" as im %}
    <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" class="thumbnail" />
    {% endthumbnail %}
    </div>
  <div class="col-md-5">
    {% else %}
  <div class="col-md-7">
    {% endif %}
    {% if object.intro %}
    <div class="bs-callout">
      {{ object.intro|kanisa_markdown:3 }}
    </div>
    {% endif %}
    {% if object.details %}
    {{ object.details|kanisa_markdown }}
    {% endif %}
  </div>
  <div class="col-md-5">
    {% with object.sermons as sermons %}
    {% include "kanisa/public/sermons/_series_table_of_sermons.html" %}
    {% endwith %}

    {% if perms.kanisa.manage_sermons %}
    <a href="{% url 'kanisa_manage_sermons_individual_create' %}?series={{ object.pk }}" class="btn btn-success">
      <i class="glyphicon glyphicon-plus"></i>
      Add a sermon to this series
    </a>
    <a href="{% url 'kanisa_manage_sermons_series_update' object.pk %}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Edit this series
    </a>
    {% endif %}

  </div>
</div>
{% endblock %}
