{% extends 'kanisa/public/base.html' %}

{% load kanisa_markup %}
{% load thumbnail %}
{% load url from future %}

{% block precontent %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'kanisa_public_index' %}">Home</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{% url 'kanisa_public_sermon_index' %}">Sermons</a>
    <span class="divider">/</span>
  </li>
  <li class="active">
    {{ object.title }}
  </li>
</ul>
{% endblock %}

{% block content %}
<h1 class="primary">
  {{ object.title }}
  {% include "kanisa/public/sermons/_subtitle.html" %}
</h1>

<div class="row">
  <div class="span7">
    <div class="lead">
      <div class="thumbnail" style="width:260px; float: left; margin: 0 1em 1em 0">
        {% thumbnail sermonseries.image "260x180" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" />
        {% endthumbnail %}
      </div>
      {% if object.intro %}
      {{ object.intro|kanisa_markdown }}
      {% endif %}
    </div>
    {% if object.details %}
    {{ object.details|kanisa_markdown }}
    {% endif %}
  </div>
  <div class="span5">
    {% with object.sermons as sermons %}
    {% include "kanisa/public/sermons/_series_table_of_sermons.html" %}
    {% endwith %}

    {% if perms.kanisa.manage_sermons %}
    <a href="{% url 'kanisa_manage_sermons_individual_create' %}?series={{ object.pk }}" class="btn btn-success">
      <i class="icon-white icon-plus"></i>
      Add a sermon to this series
    </a>
    <a href="{% url 'kanisa_manage_sermons_series_update' object.pk %}" class="btn">
      <i class="icon-edit"></i>
      Edit this series
    </a>
    {% endif %}

  </div>
</div>
{% endblock %}
