{% extends 'kanisa/public/base.html' %}

{% load kanisa_markup %}
{% load thumbnail %}

{% block precontent %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'kanisa_public_index' %}">Home</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{% url 'kanisa_public_sermon_index' %}">Sermons</a>
    <span class="divider">/</span>
  </li>
  {% if object.series %}
  <li>
    <a href="{% url 'kanisa_public_sermon_series_detail' object.series.slug %}">{{ object.series.title }}</a>
    <span class="divider">/</span>
  </li>
  {% endif %}
  <li class="active">
    {{ object.title }}
  </li>
</ul>
{% endblock %}

{% block content %}
<h1 class="primary">
  {{ object.title }}
  <span class="subtitle">({{ object.date|date:"jS F Y" }}
  &ndash; {{ object.speaker }})</span>
</h1>

<div class="row">
  <div class="span7">
    {% if object.details %}
    {{ object.details|kanisa_markdown }}
    <hr />
    {% endif %}

    {% if object.passage %}
    <p>
      <i class="icon icon-book"></i>
      This sermon is on <em>{{ object.passage }}</em>.
    </p>
    {% endif %}

    {% if object.series %}
    <p>
      <i class="icon icon-list"></i>
      This sermon is part of the series <a href="{% url 'kanisa_public_sermon_series_detail' object.series.slug %}">{{ object.series }}</a>.
    </p>
    {% endif %}

    <p>
      <i class="icon icon-headphones"></i>
      {% if not object.mp3 %}
      This sermon doesn't have audio available.
      {% endif %}
    </p>

    {% if object.transcript %}
    <hr />
    <h3>Transcript</h3>
    {{ object.transcript|kanisa_markdown }}
    {% endif %}

  </div>
  <div class="span5">
    {% with object.series as series %}
    {% if series %}
    <h2 style="line-height: 1em">
      <a href="{% url 'kanisa_public_sermon_series_detail' series.slug %}">{{ series.title }}</a><br />
      {% include "kanisa/public/sermons/_subtitle.html" with object=series %}
    </h2>
    <div class="thumbnail" style="width:130; float: left; margin: 0 1em 1em 0">
      {% thumbnail series.image "130x90" crop="center" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" />
      {% endthumbnail %}
    </div>

    {% if series.intro %}
    {{ series.intro|kanisa_markdown }}
    {% endif %}

    {% with series.sermons as sermons %}
    {% include "kanisa/public/sermons/_series_table_of_sermons.html" with current=object%}
    {% endwith %}

    {% endif %}
    {% endwith %}

    {% if perms.kanisa.manage_sermons %}
    <a href="{% url 'kanisa_manage_sermons_individual_update' object.pk %}" class="btn">
      <i class="icon-edit"></i>
      Edit this sermon
    </a>
    {% endif %}

  </div>
</div>

{% endblock %}
