{% extends 'kanisa/public/base.html' %}

{% load kanisa_facebook %}
{% load kanisa_markup %}

{% block precontent %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'kanisa_public_index' %}">Home</a>
  </li>
  <li>
    <a href="{% url 'kanisa_public_sermon_index' %}">Sermons</a>
  </li>
  {% if object.series %}
  <li>
    <a href="{% url 'kanisa_public_sermon_series_detail' object.series.slug %}">{{ object.series.title }}</a>
  </li>
  {% endif %}
  <li class="active">
    {{ object.title }}
  </li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-7">
    <h1 class="primary">
      {{ object.title }}<br />
      <small>({{ object.date|date:"jS F Y" }}
        &ndash; {{ object.speaker }})</small>
    </h1>

    {% kanisa_facebook_like_widget %}

    {% if object.details %}
    {{ object.details|kanisa_markdown }}
    <hr />
    {% endif %}

    {% if object.passage %}
    <p>
      <i class="glyphicon glyphicon-book"></i>
      This sermon is on <em>{{ object.passage }}</em>.
    </p>
    {% endif %}

    {% if object.series %}
    <p>
      <i class="glyphicon glyphicon-list"></i>
      This sermon is part of the series <a href="{% url 'kanisa_public_sermon_series_detail' object.series.slug %}">{{ object.series }}</a>.
    </p>
    {% endif %}

    <p>
      <i class="glyphicon glyphicon-headphones"></i>
      {% if not object.mp3 %}
      This sermon doesn't have audio available.
      {% else %}
        <a href="{% url 'kanisa_public_sermon_download' object.pk %}" title="Download MP3">Download MP3</a>
      {% endif %}
    </p>

    {% if object.transcript %}
    <hr />
    <h3>Transcript</h3>
    {{ object.transcript|kanisa_markdown }}
    {% endif %}

  </div>
  <div class="col-md-5">
    {% include "kanisa/public/sermons/_sermon_series_intro.html" %}

    {% if perms.kanisa.manage_sermons %}
    <a href="{% url 'kanisa_manage_sermons_individual_update' object.pk %}" class="btn btn-default">
      <i class="glyphicon glyphicon-edit"></i>
      Edit this sermon
    </a>
    {% endif %}

  </div>
</div>

{% endblock %}
