{% load kanisa_feather %}
{% load thumbnail %}

{% include "kanisa/management/media/_inline_image_thumbnail.html" with size="medium" %}

<form class="form-horizontal">
  <p><strong>Set the image size:</strong></p>
  <label class="radio">
    <input type="radio" name="size" value="small" class="small_radio">
    Small
  </label>
  <label class="radio">
    <input type="radio" name="size" value="medium" checked="checked" class="medium_radio">
    Medium
  </label>
  <label class="radio">
    <input type="radio" name="size" value="full" class="full_radio">
    Full-size <span class="text-muted">(uses whatever size image you upload, capped to the width of the page)</span>
  </label>
  <label class="radio">
    <input type="radio" name="size" value="headline" class="headline_radio">
    Headline <span class="text-muted">(spans the width of the page)</span>
  </label>

  <div class="alignment">
    <p><strong>Set the image alignment:</strong></p>
    <label class="radio">
      <input type="radio" name="alignment" value="left" checked="checked">
      Left-aligned
    </label>
    <label class="radio">
      <input type="radio" name="alignment" value="right">
      Right-aligned
    </label>
  </div>

  <p class="text-muted"><strong>Code Preview:</strong> <span class="image-code"></span></p>

  <a href="#" class="btn btn-sm btn-success main_input_widget_image_insert" style="margin: 1em 0">
    {% kanisa_feather "plus" %}
    Insert image
  </a>
  <a href="#" class="btn btn-sm btn-secondary main_input_widget_get_images" style="margin-left: 1em" data-url="{% url 'kanisa_manage_xhr_media_inline_images' %}">
    {% kanisa_feather "arrow-left-circle" %}
    Choose another image
  </a>

  <p class="text-muted">
    Note that this will insert a Markdown snippet that will render as
    the image you've selected - you won&rsquo;t actually see the image
    below.
  </p>
</form>
