{% load thumbnail %}

{% if page_obj.object_list %}
<p>
  {% if perms.kanisa.manage_media %}
  <strong>Select an image</strong> from the list below, or
  <strong><a href="#" onclick="return open_popup('{% url 'kanisa_manage_media_inlineimage_create' %}?_popup=1')">upload a new image</a></strong>.
  {% else %}
  <strong>Select an image</strong> from the list below:
  {% endif %}
</p>

{% for image in page_obj.object_list %}
{% thumbnail image.image "120x120" crop="center" as im %}
<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" class="main_input_widget_image_choice img-thumbnail" data-select-url="{% url 'kanisa_manage_xhr_media_inline_images_detail' image.pk %}" />
{% endthumbnail %}
{% endfor %}

{% if page_obj.has_other_pages %}
<div class="clearfix" style="margin-bottom: 1em">
  {% if page_obj.has_previous %}
    <a class="btn-sm btn-light main_input_widget_image_paginate float-left" href="{% url 'kanisa_manage_xhr_media_inline_images' %}?page={{ page_obj.previous_page_number }}">&larr; Newer</a>
  {% endif %}

  {% if page_obj.has_next %}
    <a class="btn-sm btn-light main_input_widget_image_paginate float-right" href="{% url 'kanisa_manage_xhr_media_inline_images' %}?page={{ page_obj.next_page_number }}">Older &rarr;</a>
  {% endif %}
</div>
{% endif %}

{% else %}
<p class="alert alert-info">
  {% if perms.kanisa.manage_media %}
  There are no images uploaded yet, please
  <a href="#" onclick="return open_popup('{% url 'kanisa_manage_media_inlineimage_create' %}?_popup=1')">upload an image</a>
  to get started.
  {% else %}
  There are no images uploaded yet.
  {% endif %}
</p>
{% endif %}
