{% load thumbnail %}
{% load url from future %}

{% if object_list %}
<p>
  <strong>Select an image</strong> from the list below, or
  <strong><a href="#" onclick="return open_popup('{% url 'kanisa_manage_media_inlineimage_create' %}?_popup=1')">upload a new image</a></strong>.
</p>

{% for image in object_list %}
{% thumbnail image.image "80x60" crop="center" as im %}
<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" class="img-polaroid main_input_widget_image_choice" style="cursor: pointer; margin-bottom: 5px" data-select-url="{% url 'kanisa_manage_xhr_media_inline_images_detail' image.pk %}" />
{% endthumbnail %}
{% endfor %}
{% else %}
<p class="alert alert-info">
  There are no images uploaded yet, please
  <a href="#" onclick="return open_popup('{% url 'kanisa_manage_media_inlineimage_create' %}?_popup=1')">upload an image</a>
  to get started.
</p>
{% endif %}
