{% load thumbnail %}
{% load url from future %}

{% thumbnail image.image "240x180" crop="center" as im %}
<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="" class="img-polaroid main_input_widget_image_choice" style="margin-bottom: 5px; margin-right: 5px; float: right" />
{% endthumbnail %}

<form class="form-horizontal">
  <p><strong>Set the image size:</strong></p>
  <label class="radio">
    <input type="radio" name="size" value="medium" checked="checked" class="medium_radio">
    Medium
  </label>
  <label class="radio">
    <input type="radio" name="size" value="headline" class="headline_radio">
    Headline <span class="muted">(spans the width of the page)</span>
  </label>

  <div class="alignment">
    <p><strong>Set the image alignment:</strong></p>
    <label class="radio">
      <input type="radio" name="alignment" value="left" checked="checked">
      Left-aligned
    </label>
    <label class="radio">
      <input type="radio" name="alignment" value="right">
      Right-aligned
    </label>
  </div>

  <a class="btn btn-small btn-success" style="margin: 1em 0">
    Insert image &raquo;
  </a>
</form>
