{% extends 'kanisa/management/base.html' %}

{% load thumbnail %}

{% block content %}

<p>
  <a href="{% url 'kanisa_manage_media_inlineimage_create' %}" class="btn btn-lg btn-success">
    Upload a new inline image
  </a>
</p>

<hr />

<div class="card-deck">
  {% if object_list %}
  {% for image in object_list %}
  <div class="card" style="min-width: 244px; max-width: 244px; margin-bottom: 30px">
    <a href="{% url 'kanisa_manage_media_inlineimage_update' image.pk %}" class="thumbnail">

      {% thumbnail image.image "244x184" crop="center" as im %}
      <img class="card-img-top" src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" />
      {% endthumbnail %}
    </a>

    <div class="card-body">
      <h5 class="card-title">{{ image.title }}</h5>
    </div>

    <div class="card-footer">
      <small class="text-muted">Uploaded: {{ image.modified|timesince }} ago</small>
    </div>
</div>
  {% endfor %}
</div>

{% include "kanisa/_simple_pagination.html" %}

{% else %}
<p class="alert alert-warning">
  There are no images to display.
</p>
{% endif %}


{% endblock %}
