{% extends 'kanisa/management/base.html' %}

{% load thumbnail %}

{% block content %}

<p>
  <a href="{% url 'kanisa_manage_media_inlineimage_create' %}" class="btn btn-lg btn-success">
    <i class="glyphicon glyphicon-plus"></i>
    Upload a new inline image
  </a>
</p>

<hr />

{% if object_list %}
<div class="row">
  {% for image in object_list %}
    <div class="col-xs-6 col-md-2">
      <a href="{% url 'kanisa_manage_media_inlineimage_update' image.pk %}" class="thumbnail">
        {% thumbnail image.image "122x92" crop="center" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" />
        {% endthumbnail %}
      </a>
    </div>
  {% endfor %}
</div>

{% else %}
<p class="alert alert-warning">
  There are no images to display.
</p>
{% endif %}


{% endblock %}
