{% load url from future %}

{% if page_list %}
<table class="table table-striped kanisa_diary">
  <thead>
    <tr>
      <th>Title</th>
      <th class="iconcell"></th>
      <th>Draft</th>
      <th>Modified</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {% for page in page_list %}
    <tr>
      <td>
        <span style="display: inline-block; width: {{ page.get_level }}em"></span>
        {% if page.get_level != 0 %}&#8627;{% endif %}
        <a href="{% url 'kanisa_manage_pages_update' page.pk %}">
          {{ page.title }}
        </a>
      </td>
      <td class="iconcell">
        <a href="{% url 'kanisa_manage_pages_create' %}?parent={{ page.pk }}" title="Create a page with &ldquo;{{ page.title }}&rdquo; as its parent">
          <i class="icon-plus-sign"></i>
        </a>
      </td>
      <td class="iconcell">
        {% if page.draft %}
        <i class="icon icon-ok" title="This page is a draft"></i>
        {% endif %}
      </td>
      <td>
        <abbr title="{{ page.modified|date:"r"}}">
          {{ page.modified|timesince }} ago
        </abbr>
      </td>
      <td>
        {% if page.is_leaf_node %}
        <a class="btn btn-danger btn-mini page_delete" href="{% url 'kanisa_manage_pages_delete' page.pk %}" data-page-title="{{ page.title }}">
          Delete
        </a>
        {% endif %}
      </td>
      <td class="iconcell">
        {% if not page.draft %}
        <a href="/{{ page.get_path }}" title="View on site"><i class="icon-eye-open"></i></a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% else %}
<div class="alert alert-warning">
There are no pages to display.
</div>
{% endif %}
