{% extends 'kanisa/management/base.html' %}

{% load url from future %}

{% block content %}
<p><a href="{% url 'kanisa_manage_pages_create' %}" class="btn btn-large btn-primary">Create a Page &raquo;</a></p>

<hr />

{% if page_list %}
{% include 'kanisa/management/pages/_page_table.html' %}
{% else %}
<div class="alert alert-warning">
There are no pages to display.
</div>
{% endif %}


<hr />
<h3>Quick Create</h3>

<script type="text/javascript">
var page_create_url = "{% url 'kanisa_xhr_management_create_page' %}";
</script>
<script type="text/javascript" src="{{ STATIC_URL }}kanisa/js/page_create.js"></script>

<form class="form-inline" method="post" action="{% url 'kanisa_manage_pages_create' %}" id="page_quick_create">
  {% csrf_token %}
  <input type="text" name="title" id="id_title" placeholder="Title" />
  <button type="submit" class="btn btn-success">Submit</button>
  <div class="inline-status"></div>
</form>

{% endblock %}
