{% if document_list %}

{% if title_filter %}
<p>Found <strong>{{ document_list|length }}</strong> document{{ document_list|length|pluralize }} matching <em>{{ title_filter }}</em>.</p>
{% endif %}

<table class="table table-striped kanisa_diary">
  <tbody>
    {% for document in document_list %}
    <tr{% if document.has_expired %} class="warning"{% endif %}>
      <td>
        <a href="{% url 'kanisa_manage_documents_update' document.pk %}">
          {{ document.title }}
        </a><br />
        <span class="text-muted">
          Last modified <abbr title="{{ document.modified|date:"r"}}">
            {{ document.modified|timesince }} ago</abbr>,
          {% if document.downloads == 0 %}
          never downloaded.
          {% elif document.downloads == 1 %}
          downloaded once.
          {% elif document.downloads == 2 %}
          downloaded twice.
          {% else %}
          downloaded {{ document.downloads }} times.
          {% endif %}
          {% if document.has_expired %}
          This document has expired, and can no longer be downloaded.
          {% else %}
          {% if document.auto_expiry_time %}
          Expires in <abbr title="This document will be removed on {{ document.auto_expiry_time|date:"jS F Y" }}">
            {{ document.auto_expiry_time|timeuntil }}</abbr>.
          {% endif %}
          {% endif %}
        </span>
      </td>
      <td style="vertical-align: middle; text-align: right">
        <a class="btn btn-danger btn-xs" href="{% url 'kanisa_manage_documents_delete' document.pk %}">Delete</a>
        {% if not document.has_expired %}
        <form method="post" action="{% url 'kanisa_manage_documents_expire' document.pk %}" class="expiry_toggle">
          {% csrf_token %}
          <button class="btn btn-warning btn-xs">Force expiry</button>
        </form>
        {% else %}
        <form method="post" action="{% url 'kanisa_manage_documents_unexpire' document.pk %}" class="expiry_toggle">
          {% csrf_token %}
          <button class="btn btn-success btn-xs">Restore</button>
        </form>
        {% endif %}

      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% include "kanisa/_simple_pagination.html" %}
{% else %}
<div class="alert alert-warning">
  {% if title_filter %}
  Did not find any documents matching <em>{{ title_filter }}</em>.
  {% else %}
  There are no documents to display.
  {% endif %}
</div>
{% endif %}
