{% load kanisa_tags %}
{% load url from future %}

<script type="text/javascript">
  var permission_change_url = '{% url 'kanisa_manage_xhr_assign_permission' %}';
</script>

<table class="table table-striped table-bordered userpermtable">
  <thead>
    <tr>
      <th>Username</th>
      <th>Full name</th>
      <th class="iconcell"><i class="icon icon-font" title="Manage Page"></i></th>
      <th class="iconcell"><i class="icon icon-calendar" title="Manage Diary"></i></th>
      <th class="iconcell"><i class="icon icon-headphones" title="Manage Sermons"></i></th>
      <th class="iconcell"><i class="icon icon-picture" title="Manage Banners"></i></th>
      <th class="iconcell"><i class="icon icon-file" title="Manage Documents"></i></th>
      <th class="iconcell"><i class="icon icon-fire" title="Manage Social Networks"></i></th>
      <th class="iconcell"><i class="icon icon-user" title="Manage Users"></i></th>
      <th class="iconcell"><i class="icon icon-road" title="Manage Navigation"></i></th>
      <th class="iconcell"><i class="icon icon-camera" title="Manage Media"></i></th>
    </tr>
  </thead>
  <tbody>

{% for theuser in user_list %}
<tr>
  <td>
    {% if not theuser.is_active %}
    <i class="icon icon-exclamation-sign" alt="Pending account approval"></i>
    {% else %}
    {% if theuser.is_superuser %}
    <i class="icon icon-star" alt="Administrator"></i>
    {% endif %}
    {% endif %}
    <a href="{% url 'admin:auth_user_change' theuser.pk %}">{{ theuser.username }}</a>

    {% if user.pk = theuser.pk %}
    <span class="muted">
      (this is you)
    </span>
    {% endif %}
  </td>
  <td>{{ theuser.get_full_name }}</td>
  {% if theuser.is_active %}
  <td class="iconcell">{% kanisa_user_has_perm 'kanisa.manage_pages' %}</td>
  <td class="iconcell">{% kanisa_user_has_perm 'kanisa.manage_diary' %}</td>
  <td class="iconcell">{% kanisa_user_has_perm 'kanisa.manage_sermons' %}</td>
  <td class="iconcell">{% kanisa_user_has_perm 'kanisa.manage_banners' %}</td>
  <td class="iconcell">{% kanisa_user_has_perm 'kanisa.manage_documents' %}</td>
  <td class="iconcell">{% kanisa_user_has_perm 'kanisa.manage_social' %}</td>
  <td class="iconcell">{% kanisa_user_has_perm 'kanisa.manage_users' %}</td>
  <td class="iconcell">{% kanisa_user_has_perm 'kanisa.manage_navigation' %}</td>
  <td class="iconcell">{% kanisa_user_has_perm 'kanisa.manage_media' %}</td>
  {% else %}
  <td colspan="9" class="muted" style="text-align: center">
    This user is not yet active, so cannot be assigned permissions.
  </td>
  {% endif %}
</tr>
{% endfor %}
</tbody>
</table>
