{% load static from staticfiles %}
<script src="{% static 'kanisa/js/public/diary.js' %}"></script>
<script src="{% static 'kanisa/js/public/kanisa_carousel.js' %}"></script>
<script src="{% static 'kanisa/js/public/kanisa_csrf.js' %}"></script>
<script src="{% static 'kanisa/js/public/login.js' %}"></script>
<script src="{% static 'kanisa/js/public/members_documents.js' %}"></script>
<script src="{% static 'kanisa/js/public/regular_events.js' %}"></script>
<script src="{% static 'kanisa/js/public/kanisa_sitewidenotice.js' %}"></script>
