{% if KANISA_DEBUG_STATIC %}
<script src="{{ STATIC_URL }}kanisa/js/public/kanisa_carousel.js"></script>
<script src="{{ STATIC_URL }}kanisa/js/public/kanisa_csrf.js"></script>
<script src="{{ STATIC_URL }}kanisa/js/public/login.js"></script>
<script src="{{ STATIC_URL }}kanisa/js/public/members_documents.js"></script>
<script src="{{ STATIC_URL }}kanisa/js/public/regular_events.js"></script>
{% else %}
<script src="{{ STATIC_URL }}kanisa/js/minified/kanisa-public.{{ KANISA_PUBLIC_JS_HASH }}.js"></script>
{% endif %}
