{% extends 'kanisa/base.html' %}

{% load kanisa_homepage %}

{% block bodyopen %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% endblock %}

{% block footer %}
<div id="footer">
  <div class="container text-muted">
    <div class="row">
      <div class="col-md-7">
        <p>
          &copy {% now "Y" %} {{ KANISA_CHURCH_NAME }}<br />
          All rights reserved.
        </p>
      </div>
      <div class="col-md-5">
        {% kanisa_content_block 'footer' %}
        <br style="clear:both"/>
      </div>
    </div>
  </div>
</div>
{% endblock %}
