{% load kanisa_tags %}

<ul class="nav nav-stacked sidebar">
  <li>
    <a href="{% url 'kanisa_members_index' %}">
      <i class="glyphicon glyphicon-home"></i>
      Home
    </a>
  </li>
  <li>
    <a href="{% url 'kanisa_members_password_change' %}">
      <i class="glyphicon glyphicon-lock"></i>
      Change Password
    </a>
  </li>
  <li>
    <a href="{% url 'kanisa_members_account_modify' %}">
      <i class="glyphicon glyphicon-user"></i>
      Update Account
    </a>
  </li>
  <li>
    <a href="{% url 'kanisa_members_documents' %}">
      <i class="glyphicon glyphicon-file"></i>
      Documents
    </a>
  </li>
  {% if user.can_see_service_plans %}
    <li>
      <a href="{% url 'kanisa_members_services_index' %}">
        <i class="glyphicon glyphicon-bullhorn"></i>
        Service Planning
      </a>
    </li>
  {% endif %}
</ul>

{% kanisa_is_permissioned_user as is_permissioned %}
{% if is_permissioned %}
  <hr />
  <ul class="nav nav-stacked sidebar">
    <li>
      <a href="{% url 'kanisa_manage_index' %}">
        <i class="glyphicon glyphicon-cog"></i>
        Site Management
      </a>
    </li>
  </ul>
{% endif %}
