{% load kanisa_tags %}

<div class="sidebar-nav well">
  <ul class="nav nav-list">
    <li>
      <a href="{% url 'kanisa_members_index' %}">
        <i class="icon-home"></i>
        Home
      </a>
    </li>
    <li>
      <a href="{% url 'kanisa_members_password_change' %}">
        <i class="icon-lock"></i>
        Change Password
      </a>
    </li>
    <li>
      <a href="{% url 'kanisa_members_account_modify' %}">
        <i class="icon-user"></i>
        Update Account
      </a>
    </li>
    <li>
      <a href="{% url 'kanisa_members_documents' %}">
        <i class="icon-file"></i>
        Documents
      </a>
    </li>
    {% if user.can_see_service_plans %}
    <li>
      <a href="{% url 'kanisa_members_services_index' %}">
        <i class="icon-bullhorn"></i>
        Service Planning
      </a>
    </li>
    {% endif %}
  </ul>

  {% kanisa_is_permissioned_user as is_permissioned %}
  {% if is_permissioned %}
    <hr />
    <ul class="nav nav-list">
      <li>
        <a href="{% url 'kanisa_manage_index' %}">
          <i class="icon-cog"></i>
          Site Management
        </a>
      </li>
    </ul>
  {% endif %}
</div>
