{% extends 'kanisa/members/base.html' %}

{% block extrajs %}
  <script type="text/javascript" src="{{ STATIC_URL }}kanisa/js/members_documents.js"></script>
{% endblock %}


{% block content %}

  {% if document_list %}
    {% include 'kanisa/members/_document_table.html' %}
  {% else %}
    <div class="alert alert-warning">
      There are no documents to display.
    </div>
  {% endif %}

  {% if perms.kanisa.manage_documents %}
    <p>
      <a href="{% url 'kanisa_manage_documents_create' %}" class="btn btn-large btn-success">
        <i class="icon-white icon-plus"></i>
        Upload a Document
      </a>
    </p>
  {% endif %}

{% endblock %}
