{% extends 'kanisa/members/base.html' %}

{% load kanisa_homepage %}
{% load kanisa_tags %}
{% load url from future %}

{% block pagetitle %}
<h1>Members&rsquo; Area</h1>
{% endblock %}

{% block content %}

<div class="lead">
  {% kanisa_content_block 'members_welcome' %}
</div>

<p>
  You are logged in as <strong>{{ user.username }}</strong>.
  {% if user.email %}
  Your registered email address is <strong>{{ user.email }}</strong>.
  {% else %}
  We do not have an email address registered for you.
  {% endif %}
</p>

{% kanisa_is_permissioned_user as is_permissioned %}
{% if is_permissioned %}
<hr />

<p class="muted">
  Looking for the
  <a href="{% url 'kanisa_manage_index' %}">site management area</a>?
</p>
{% endif %}

{% endblock %}
