{% extends 'kanisa/members/base.html' %}

{% load kanisa_homepage %}
{% load kanisa_tags %}

{% block pagetitle %}
<h1>Members&rsquo; Area</h1>
{% endblock %}

{% block content %}

<div class="lead">
  {% kanisa_content_block 'members_welcome' %}
</div>

<p>
  You are logged in as <strong>{{ user.get_display_name }}</strong>.
  {% if user.email %}
  Your registered email address is <strong>{{ user.email }}</strong>.
  {% else %}
  We do not have an email address registered for you.
  {% endif %}
</p>

<hr />

<div class="row">
  <div class="col-md-6">
    <h3>Recent Documents</h3>
    <table class="table table-striped">
      <tbody>
        {% for document in documents %}
        <tr>
          <td>
            <strong>
              <a href="{{ document.download_url }}">{{ document.title }}</a>
            </strong>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    <p>Looking for <a href="{% url 'kanisa_members_documents' %}">other documents</a>?</p>
  </div>
  {% if user.can_see_service_plans %}
  <div class="col-md-6">
    <h3>Upcoming Services</h3>
    {% if services %}
    {% else %}
    <p class="alert alert-info">
      There are no services in the diary at present.
    </p>
    {% endif %}

    <p>View <a href="{% url 'kanisa_members_services_index' %}">more service plans</a>.</p>
  </div>
  {% endif %}
</div>

{% kanisa_is_permissioned_user as is_permissioned %}
{% if is_permissioned %}
<hr />

<p class="text-muted">
  Looking for the
  <a href="{% url 'kanisa_manage_index' %}">site management area</a>?
</p>
{% endif %}

{% endblock %}
