{% load kanisa_feather %}

<table class="table table-striped kanisa_diary">
  <thead>
    <tr>
      <th>Day</th>
      <th colspan="3">Available Events</th>
      <th colspan="5">Scheduled Events</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in calendar %}
    <tr>
      <td>
        <strong>{{ entry.dayname }}</strong><br />
        {{ entry.date|date:"jS F" }}
      </td>
      <td>
      {% for e in entry.regular_events %}
      <div class="{% if e.autoschedule %}autoschedule{% else %}noautoschedule{% endif %}{% if not forloop.last %} notlast{% endif %}">
        {{ e.start_time }}
      </div>
      {% empty %}
      <em>None</em>
      {% endfor %}
      </td>
      <td>
      {% for e in entry.regular_events %}
      <div class="{% if e.autoschedule %}autoschedule{% else %}noautoschedule{% endif %}{% if not forloop.last %} notlast{% endif %}">
        <a href="{% url 'kanisa_manage_diary_regular_update' e.pk %}">{{ e }}</a>
      </div>
      {% endfor %}
      </td>
      <td>
      {% for e in entry.regular_events %}
        <div class="{% if e.autoschedule %}autoschedule{% else %}noautoschedule{% endif %}{% if not forloop.last %} notlast{% endif %}">
            <a href="{% url 'kanisa_manage_diary_schedule_regular_event' e.pk entry.date|date:"Ymd" %}" class="btn btn-sm btn-success regular_schedule" data-event-id="{{ e.pk }}" data-event-date="{{ entry.date|date:"Ymd" }}">Schedule</a><span class="inline-status"></span>
        </div>
      {% endfor %}
      </td>
      <td>
      {% for e in entry.scheduled_events %}
      <div class="{% if not forloop.last %} notlast{% endif %}">
        {% if e.date == entry.date %}
        {{ e.start_time }}
        {% else %}
        &nbsp;
        {% endif %}
      </div>
      {% endfor %}
      </td>
      <td>
      {% for e in entry.scheduled_events %}
      <div class="{% if not forloop.last %} notlast{% endif %}">
        {% if e.date == entry.date %}
        <a href="{% url 'kanisa_manage_diary_scheduled_update' e.pk %}">{{ e }}</a>
        {% else %}
        <span class="text-muted">{{ e }} <em>(contd.)</em></span>
        {% endif %}
      </div>
      {% endfor %}
      </td>
      <td>
      {% for e in entry.scheduled_events %}
        <div class="{% if not forloop.last %} notlast{% endif %}">
          {% if e.date == entry.date %}
          <a href="{% url 'kanisa_manage_diary_clone_scheduled_event' %}?event={{ e.pk }}" class="btn btn-secondary btn-sm">Clone</a>
          {% else %}
          &nbsp;
          {% endif %}
        </div>
      {% endfor %}
      </td>
      <td>
      {% for e in entry.scheduled_events %}
        <div class="{% if not forloop.last %} notlast{% endif %}">
          {% if e.date == entry.date %}
          <a href="{% url 'kanisa_manage_diary_cancel_scheduled_event' e.pk %}" class="btn btn-sm btn-danger scheduled_event_cancel" data-event-title="{{ e.title }}">Cancel</a>
          {% else %}
          &nbsp;
          {% endif %}
        </div>
      {% endfor %}
      </td>
      <td>
        <a href="#" data-toggle="modal" data-date-yyyymmdd="{{ entry.date|date:"Ymd" }}" data-date-display="{{ entry.date|date:"jS F Y" }}" data-target="#add_event_modal" class="diary_modal_toggle">{% kanisa_feather "plus-circle" %}</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
