<table class="table table-striped">
  <thead>
    <tr>
      <th>Event</th>
      <th>Timetable</th>
      <th>Time</th>
      <th></th>
      <th class="iconcell"></th>
      <th class="iconcell"></th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td><a href="{% url 'kanisa_manage_diary_regular_update' event.pk %}">{{ event.title }}</a></td>
      <td>{{ event.pattern_description }}</td>
      <td>{{ event.start_time }}</td>
      <td>
        <a href="{% url 'kanisa_manage_diary_regular_bulkedit' event.pk %}" title="Edit upcoming" class="btn btn-secondary btn-sm">
          Edit Upcoming
        </a>
      </td>
      <td class="iconcell">
        <a href="{% url 'kanisa_public_diary_regularevent_detail' event.slug %}" title="View on site">
        </a>
      </td>
      <td class="iconcell">
        {% if not event.mothballed %}
        <a href="{% url 'kanisa_manage_diary_regular_mothball' event.pk %}" title="Mothball event" class="text-danger">
        </a>
        {% else %}
        <a href="{% url 'kanisa_manage_diary_regular_mothball' event.pk %}" title="Restore event" class="text-success">
        </a>
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
