{% extends 'kanisa/management/base.html' %}

{% block content %}

{% if events %}
<form method="post" action=".">
{% csrf_token %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Event</th>
      <th>Date</th>
      <th>Time</th>
      <th>Intro</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td style="vertical-align: middle">{{ event }}</td>
      <td style="vertical-align: middle">{{ event.date }}</td>
      <td>
        <input data-provide="timepicker" value="{{ event.start_time|date:"h:i A" }}" name="start_time_{{ event.pk }}" class="form-control timepicker bootstraptimewidget" type="text" />
      </td>
      <td><input type="text" value="{{ event.intro }}" name="intro_{{ event.pk}}" class="form-control" style="width: 90%" maxlength="200" /></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<input type="submit" value="Save Changes" class="btn btn-lg btn-success pull-right" />
</form>
{% else %}
<p class="alert alert-info">
  There are no instances of {{ object }} scheduled.
</p>
{% endif %}
{% endblock %}
