{% extends 'kanisa/management/base.html' %}

{% block content %}

{% if events %}
<form method="post" action=".">
{% csrf_token %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Event</th>
      <th>Date</th>
      <th>Time</th>
      <th>Intro</th>
    </tr>
  </thead>
  <tbody>
    {% for event in events %}
    <tr>
      <td>{{ event.title }}</td>
      <td>{{ event.date }}</td>
      <td>{{ event.start_time }}</td>
      <td><input type="text" value="{{ event.intro }}" name="intro_{{ event.pk}}" style="width: 90%" maxlength="200" /></td>
    </tr>
    {% endfor %}
  </tbody>
</table>
<input type="submit" value="Save Changes" class="btn btn-large btn-success pull-right" />
</form>
{% else %}
<p class="alert alert-info">
  There are no instances of {{ object }} scheduled.
</p>
{% endif %}
{% endblock %}
