{% extends 'kanisa/management/base.html' %}

{% load thumbnail %}

{% block content %}
{% include "kanisa/management/diary/_nav.html" with current="contacts" %}

<p>
  <a href="{% url 'kanisa_manage_diary_contacts_create' %}" class="btn btn-lg btn-success">
    <i class="glyphicon glyphicon-plus"></i>
    Add a contact
  </a>
</p>
<hr />

<div class="row kanisa_event_contacts">
  {% for contact in eventcontact_list %}
  <div class="col-md-2">
    <div class="thumbnail">
      <a href="{% url 'kanisa_manage_diary_contacts_update' contact.pk %}" title="Edit this contact's profile">
        {% thumbnail contact.image_or_default "122x81" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" />
        {% endthumbnail %}
      </a>

      <div class="caption">
        <h5>
          <a href="{% url 'kanisa_manage_diary_contacts_update' contact.pk %}" title="Edit this contact's profile">
            {{ contact }}
          </a>
        </h5>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}
