{% extends 'kanisa/management/base.html' %}

{% load thumbnail %}

{% block content %}
{% include "kanisa/management/diary/_nav.html" with current="contacts" %}

<p>
  <a href="{% url 'kanisa_manage_diary_contacts_create' %}" class="btn btn-large btn-success">
    <i class="icon-white icon-plus"></i>
    Add a contact
  </a>
</p>
<hr />

<ul class="thumbnails">
  {% for contact in eventcontact_list %}
  <li class="span2">
    <div class="thumbnail">
      <div style="position: relative;">
        <a href="{% url 'kanisa_manage_diary_contacts_update' contact.pk %}" title="Edit this contact's profile">
          {% thumbnail contact.image_or_default "160x135" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" />
          {% endthumbnail %}

          <div class="carousel-caption" style="padding: 7px;">
            <p>
              <strong>
                {{ contact }}
              </strong>
            </p>
          </div>
        </a>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}
