{% extends 'kanisa/management/base.html' %}

{% load url from future %}

{% block content %}
{% if events_to_schedule %}
<p><a href="{% url 'kanisa_manage_diary_schedule_weeks_regular_event' %}?date={{ monday|date:"Ymd" }}" class="btn btn-large btn-primary" id="schedule-weeks-events">
    Schedule this week's regular events &raquo;
</a></p>
{% endif %}

<hr />

<h2>Week Beginning {{ monday|date:"jS F Y" }}</h2>

<table class="table table-striped kanisa_diary">
  <thead>
    <tr>
      <th>Day</th>
      <th colspan="3">Available Events</th>
      <th colspan="4">Scheduled Events</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in calendar %}
    <tr>
      <td>
        <strong>{{ entry.dayname }}</strong><br />
        {{ entry.date|date:"jS F" }}
      </td>
      <td>
      {% for e in entry.regular_events %}
      <div class="{% if e.autoschedule %}autoschedule{% else %}noautoschedule{% endif %}{% if not forloop.last %} notlast{% endif %}">
        {{ e.start_time }}
      </div>
      {% empty %}
      <em>None</em>
      {% endfor %}
      </td>
      <td>
      {% for e in entry.regular_events %}
      <div class="{% if e.autoschedule %}autoschedule{% else %}noautoschedule{% endif %}{% if not forloop.last %} notlast{% endif %}">
        <a href="{% url 'kanisa_manage_diary_regular_update' e.pk %}">{{ e }}</a>
      </div>
      {% endfor %}
      </td>
      <td>
      {% for e in entry.regular_events %}
        <div class="{% if e.autoschedule %}autoschedule{% else %}noautoschedule{% endif %}{% if not forloop.last %} notlast{% endif %}">
            <a href="{% url 'kanisa_manage_diary_schedule_regular_event' e.pk entry.date|date:"Ymd" %}" class="btn btn-mini btn-success">Schedule</a>
        </div>
      {% endfor %}
      </td>
      <td>
      {% for e in entry.scheduled_events %}
      <div class="{% if not forloop.last %} notlast{% endif %}">{{ e.start_time }}</div>
      {% endfor %}
      </td>
      <td>
      {% for e in entry.scheduled_events %}
      <div class="{% if not forloop.last %} notlast{% endif %}"><a href="{% url 'kanisa_manage_diary_scheduled_update' e.pk %}">{{ e }}</a></div>
      {% endfor %}
      </td>
      <td>
      {% for e in entry.scheduled_events %}
        <div class="{% if not forloop.last %} notlast{% endif %}"><a href="{% url 'kanisa_manage_diary_cancel_scheduled_event' e.pk %}" class="btn btn-mini btn-danger">Cancel</a></div>
      {% endfor %}
      </td>
      <td>
        <a href="{% url 'kanisa_manage_diary_scheduled_create' %}?date={{ entry.date|date:"Ymd" }}" title="Create an event on {{ entry.date|date:"jS F Y"}}"><i class="icon-plus-sign"></i></a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<ul class="pager">
  <li class="previous">
    <a href="?date={{ previousdate }}">&larr; Previous Week</a>
  </li>
  <li class="next">
    <a href="?date={{ nextdate }}">Next Week &rarr;</a>
  </li>
</ul>

<p class="pull-right"><a href="{% url 'kanisa_manage_diary_scheduled_create' %}" class="btn btn-primary">Schedule a new event &raquo;</a></p>

{% endblock %}
