{% extends 'kanisa/management/base.html' %}

{% load url from future %}

{% block extrajs %}
<script type="text/javascript">
var schedule_event_url = "{% url 'kanisa_manage_xhr_diary_schedule_regular' %}";
var update_diary_url = "{% url 'kanisa_manage_xhr_diary_get_schedule' monday|date:"Ymd" %}";
</script>
<script type="text/javascript" src="{{ STATIC_URL }}kanisa/js/kanisa_diary.js"></script>
{% endblock %}

{% block content %}
<ul class="nav nav-tabs">
  <li class="active">
    <a href="{% url 'kanisa_manage_diary' %}">This Week</a>
  </li>
  <li>
    <a href="{% url 'kanisa_manage_diary_regularevents' %}">Regular Events</a>
  </li>
</ul>

{% if events_to_schedule %}
<p><a href="{% url 'kanisa_manage_diary_schedule_weeks_regular_event' %}?date={{ monday|date:"Ymd" }}" class="btn btn-large btn-primary" id="schedule-weeks-events">
    Schedule this week's regular events &raquo;
</a></p>
<hr />
{% endif %}


<h2>Week Beginning {{ monday|date:"jS F Y" }}</h2>
<div id="diary_page">
{% include "kanisa/management/diary/_diary_page.html" with calendar=calendar only %}
</div>

<ul class="pager">
  <li class="previous">
    <a href="?date={{ previousdate }}">&larr; Previous Week</a>
  </li>
  <li class="next">
    <a href="?date={{ nextdate }}">Next Week &rarr;</a>
  </li>
</ul>

<p class="pull-right">
  <a href="{% url 'kanisa_manage_diary_scheduled_create' %}" class="btn btn-success">
    <i class="icon-white icon-plus"></i>
    Schedule a new event
  </a>
</p>

{% endblock %}
