{% extends 'kanisa/management/diary/base.html' %}

{% load url from future %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">
  <span class="divider">/</span> Manage Regular Events
</li>
{% endblock %}

{% block pagetitle %}Manage Diary {{ block.super }}{% endblock %}

{% block content %}
{% include 'kanisa/management/diary/_lead.html' %}
<p><a href="{% url 'kanisa_create_diary' %}" class="btn btn-large btn-primary">Create a new regular event &raquo;</a></p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Event</th>
      <th>Day</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
    {% for event in regularevent_list %}
    <tr>
      <td><a href="{% url 'kanisa_update_diary' event.pk %}">{{ event.title }}</a></td>
      <td>{{ event.get_day_display }}</td>
      <td>{{ event.start_time }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
