{% extends 'kanisa/management/base.html' %}

{% load url from future %}

{% block content %}
{% include "kanisa/management/diary/_nav.html" with current="regular_events" %}

<p>
  <a href="{% url 'kanisa_manage_diary_regular_create' %}" class="btn btn-large btn-success">
    <i class="icon-white icon-plus"></i>
    Create a new regular event
  </a>
</p>

{% if regularevent_list %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Event</th>
      <th>Timetable</th>
      <th>Time</th>
      <th></th>
      <th class="iconcell"></th>
    </tr>
  </thead>
  <tbody>
    {% for event in regularevent_list %}
    <tr>
      <td><a href="{% url 'kanisa_manage_diary_regular_update' event.pk %}">{{ event.title }}</a></td>
      <td>{{ event.pattern_description }}</td>
      <td>{{ event.start_time }}</td>
      <td>
        <a href="{% url 'kanisa_manage_diary_regular_bulkedit' event.pk %}" title="Edit upcoming" class="btn btn-mini">
          Edit Upcoming
        </a>
      </td>
      <td class="iconcell">
        <a href="{% url 'kanisa_public_diary_regularevent_detail' event.slug %}" title="View on site">
          <i class="icon-eye-open"></i>
        </a>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<hr />
<p class="alert alert-info">
  No regular events have been created yet - why don't you <a href="{% url 'kanisa_manage_diary_regular_create' %}">create one</a>?
</p>
{% endif %}

{% endblock %}
