{% extends 'kanisa/management/base.html' %}

{% block content %}
{% include "kanisa/management/diary/_nav.html" with current="regular_events" %}

<p>
  <a href="{% url 'kanisa_manage_diary_regular_create' %}" class="btn btn-lg btn-success">
    <i class="glyphicon glyphicon-plus"></i>
    Create a new regular event
  </a>
</p>

{% if regularevent_list %}
{% include "kanisa/management/diary/_regular_events_table.html" with events=regularevent_list %}
{% else %}
<hr />
<p class="alert alert-info">
  No regular events have been created yet - why don't you <a href="{% url 'kanisa_manage_diary_regular_create' %}">create one</a>?
</p>
{% endif %}

{% if mothballed %}
<hr />
<h3>Mothballed Events</h3>
<p>
  The following event{{ mothballed|pluralize }}
  {{ mothballed|pluralize:"has,have" }} been mothballed
  - mothballed events will not show up on the diary page,
  though they&rsquo;re still accessible if you know the URL.
</p>
{% include "kanisa/management/diary/_regular_events_table.html" with events=mothballed %}
{% endif %}

{% endblock %}
