{% extends 'kanisa/management/base.html' %}

{% block content %}
{% include "kanisa/management/diary/_nav.html" with current="series" %}

<p>
  <a href="{% url 'kanisa_manage_diary_series_create' %}" class="btn btn-lg btn-success">
    <i class="glyphicon glyphicon-plus"></i>
    Create a new event series
  </a>
</p>

{% if scheduledeventseries_list %}
<table class="table table-striped">
  <thead>
    <tr>
      <th>Series</th>
    </tr>
  </thead>
  <tbody>
    {% for series in scheduledeventseries_list %}
    <tr>
      <td>
        <a href="{% url 'kanisa_manage_diary_series_update' series.pk %}">
          {{ series.name }}
        </a><br />
        <small>
        {% for event in series.get_cached_events %}
        <a href="{{ event.url }}">
          {{ event.date|date:"j M" }}{% ifchanged %} {{ event.date|date:"Y" }}{% endifchanged %}</a>{% if not forloop.last %};{% endif %}
        {% endfor %}
        </small>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% else %}
<hr />
<p class="alert alert-info">
  No event series have been created yet - why don't you <a href="{% url 'kanisa_manage_diary_series_create' %}">create one</a>?
</p>
{% endif %}

{% endblock %}
