{% extends "kanisa/public/base.html" %}

{% block content %}
<h1>
  Oops, something&rsquo;s gone wrong
  <small>(Error 500)</small>
</h1>

<p class="lead">
  Sorry, something&rsquo;s gone wrong with our website. We&rsquo;ve
  been notified, so we&rsquo;ll get it fixed as soon as we can.
</p>

<hr />

<p class="error-page-btn">
  <a href="{% url 'kanisa_public_index' %}" title="Return to the home page" class="btn btn-lg btn-primary">
    <span class="glyphicon glyphicon-home"></span>
    Go Home
  </a>
</p>

{% endblock %}
