{% extends 'kanisa/management/base.html' %}

{% block content %}
<p>
  <a href="{% url 'kanisa_manage_notice_create' %}" class="btn btn-lg btn-success">
    Write a Notice
  </a>
</p>

<hr />

{% if object_list %}

<table class="table table-striped">
<tr>
  <th>Title</th>
  <th>Status</th>
  <th>Expires</th>
</tr>
{% for object in object_list %}
<tr>
  <td>
    <a href="{% url 'kanisa_manage_notice_update' object.pk %}" title="Edit this notice">
      {{ object.headline }}
    </a>
  </td>
  <td>
    {% if object.published and not object.expired %}
    Active
    {% else %}
    Expired
    {% endif %}
  </td>
  <td>
    {{ object.publish_until|date:"jS F Y" }}
  </td>
</tr>
{% endfor %}
</table>

{% else %}
<div class="alert alert-warning">
There are no posts to display.
</div>
{% endif %}

{% endblock %}
