{% load staticfiles %}

<textarea style="display:none" name="{{ name }}" id="{{ id }}">{{ value }}</textarea>

<div id="{{ id }}-epiceditor" class="epiceditor"></div>

<script type="text/javascript">
var opts = {% templatetag openbrace %}
  container: '{{ id }}-epiceditor',
  basePath: '{% static "kanisa/epiceditor" %}',
  clientSideStorage: false,
  theme: {% templatetag openbrace %}
    base:'/themes/base/epiceditor.css',
    preview:'/themes/preview/github.css',
    editor:'/themes/editor/epic-kanisa.css'
  {% templatetag closebrace %}
{% templatetag closebrace %}

var editor_{{ id }} = new EpicEditor(opts).load();
editor_{{ id }}.importFile('{{ id }}-epiceditor', $("#{{ id }}").val());

form = $("#{{ id }}-epiceditor").parents("form");
form.submit(function() {% templatetag openbrace %}
  content = editor_{{ id }}.exportFile();
  $("#{{ id }}").val(content);
{% templatetag closebrace %});
</script>
