{% load url from future %}

<div id="main_input_widget_{{ id }}" class="main_input_widget_container">
  <p>
    <div class="btn-group main_input_widget_action">
    <a class="btn btn-small main_input_widget_insert_image" data-url="{% url 'kanisa_manage_xhr_media_inline_images' %}" title="Insert Image">
      <i class="icon-camera"></i>
    </a>
    <a class="btn btn-small main_input_widget_add_attachment" data-url="{% url 'kanisa_manage_xhr_media_attachments' %}" title="Add Attachment">
      <i class="icon-file"></i>
    </a>
    <a class="btn btn-small main_input_widget_insert_break" title="Insert Floating Break">
      <i class="icon-text-height"></i>
    </a>
    </div>
    <a class="btn btn-small btn-danger main_input_widget_cancel" style="display: none">
      Cancel
    </a>
    <span class="spinner_placeholder" style="display: none; margin-left: 5px">
      <i class="spinner"></i>
    </span>
  </p>

  <div class="selection_placeholder">
  </div>

  <textarea{{ attrs }}>{{ value }}</textarea>
</div>
