{% load kanisa_sidebar %}

<li>
  <a href="{% url 'kanisa_manage_index' %}">
    <span class="glyphicon glyphicon-home"></span>
    Home
  </a>
</li>
{% if perms.kanisa.manage_pages %}
<li{% if kanisa_nav_component == "pages" %} class="active"{% endif %}>
  <a href="{% url 'kanisa_manage_pages' %}">
    <span class="glyphicon glyphicon-font"></span>
    Pages
  </a>
</li>
{% endif %}
{% if perms.kanisa.manage_diary %}
<li{% if kanisa_nav_component == "diary" %} class="active"{% endif %}>
  <a href="{% url 'kanisa_manage_diary' %}">
    <span class="glyphicon glyphicon-calendar"></span>
    Diary
  </a>
</li>
{% endif %}
{% if perms.kanisa.manage_sermons %}
<li{% if kanisa_nav_component == "sermons" %} class="active"{% endif %}>
  <a href="{% url 'kanisa_manage_sermons' %}">
    <span class="glyphicon glyphicon-headphones"></span>
    Sermons
  </a>
</li>
{% endif %}
{% if perms.kanisa.manage_banners %}
<li{% if kanisa_nav_component == "banners" %} class="active"{% endif %}>
  <a href="{% url 'kanisa_manage_banners' %}">
    <span class="glyphicon glyphicon-picture"></span>
    Banners
  </a>
</li>
<li>
  {% endif %}
  {% if perms.kanisa.manage_documents %}
<li{% if kanisa_nav_component == "documents" %} class="active"{% endif %}>
  <a href="{% url 'kanisa_manage_documents' %}">
    <span class="glyphicon glyphicon-file"></span>
    Documents
  </a>
</li>
{% endif %}
{% if perms.kanisa.manage_users %}
<li{% if kanisa_nav_component == "users" %} class="active"{% endif %}>
  <a href="{% url 'kanisa_manage_users' %}">
    <span class="glyphicon glyphicon-user"></span>
    Users

    {% kanisa_inactive_users as inactive_users %}
    {% if inactive_users != 0 %}
    <span class="badge badge-important" title="There are currently {{ inactive_users }} inactive users">
      {{ inactive_users }}
    </span>
    {% endif %}
  </a>
</li>
{% endif %}
{% if perms.kanisa.manage_navigation %}
<li{% if kanisa_nav_component == "navigation" %} class="active"{% endif %}>
  <a href="{% url 'kanisa_manage_navigation' %}">
    <span class="glyphicon glyphicon-road"></span>
    Navigation
  </a>
</li>
{% endif %}
{% if perms.kanisa.manage_media %}
<li{% if kanisa_nav_component == "media" %} class="active"{% endif %}>
  <a href="{% url 'kanisa_manage_media' %}">
    <span class="glyphicon glyphicon-camera"></span>
    Media
  </a>
</li>
{% endif %}
{% if perms.kanisa.manage_blocks %}
<li{% if kanisa_nav_component == "blocks" %} class="active"{% endif %}>
  <a href="{% url 'kanisa_manage_blocks' %}">
    <span class="glyphicon glyphicon-th-large"></span>
    Content Blocks
  </a>
</li>
{% endif %}
{% if perms.kanisa.manage_blog %}
<li{% if kanisa_nav_component == "blog" %} class="active"{% endif %}>
  <a href="{% url 'kanisa_manage_blog' %}">
    <span class="glyphicon glyphicon-leaf"></span>
    Blog Posts
  </a>
</li>
{% endif %}
{% if perms.kanisa.manage_sitewidenotices %}
<li{% if kanisa_nav_component == "notices" %} class="active"{% endif %}>
  <a href="{% url 'kanisa_manage_notices' %}">
    <span class="glyphicon glyphicon-exclamation-sign"></span>
    Notices
  </a>
</li>
{% endif %}
{% if user.is_superuser %}
<li{% if kanisa_nav_component == "branding" %} class="active"{% endif %}>
  <a href="{% url 'kanisa_manage_branding' %}">
    <span class="glyphicon glyphicon-tag"></span>
    Branding
  </a>
</li>
{% endif %}

<li>
  <a href="{% url 'kanisa_members_index' %}">
    <span class="glyphicon glyphicon-lock"></span>
    Your Account
  </a>
</li>
