{% load url from future %}
<!DOCTYPE html>
<html lang="en">
  {% include "kanisa/_head.html" %}
  <body>
    {% include "kanisa/_header.html" %}

    <div class="container">
      <div class="row">
        <div class="span2">
          <div class="sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">
                Manage {{ KANISA_CHURCH_NAME }}
              </li>
              <li>
                <a href="{% url 'kanisa.views.manage' %}">
                  <i class="icon-home"></i>
                  Home
                </a>
              </li>
              <li class="nav-header">
                <i class="icon-picture"></i>
                Banners
              </li>
              <li>
                <a href="{% url 'kanisa_manage_banners' %}">
                  Manage Banners
                </a>
              </li>
              <li>
                <a href="{% url 'kanisa_manage_banners_create' %}">
                  Create a Banner
                </a>
              </li>
              <li>
                <a href="{% url 'kanisa_manage_banners_inactive' %}">
                  View Inactive Banners
                </a>
              </li>
              <li class="nav-header">
                <i class="icon-calendar"></i>
                Diary
              </li>
              <li>
                <a href="{% url 'kanisa_manage_diary' %}">
                  Manage Diary
                </a>
              </li>
              <li>
                <a href="{% url 'kanisa_manage_diary_create' %}">
                  Create a Regular Event
                </a>
              </li>
              <li>
                <a href="{% url 'kanisa_manage_diary_regularevents' %}">
                  Manage Regular Events
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="span10">
          <ul class="breadcrumb">
            {% block breadcrumbs %}
            <li>
              <a href="{% url 'kanisa.views.manage' %}">Kanisa</a>
            </li>
            {% if kanisa_root_crumb %}
            <li>
              <span class="divider">/</span>
              {% if not kanisa_is_root_view %}
              <a href="{{ kanisa_root_crumb.url }}">{{ kanisa_root_crumb.text }}</a>
              {% else %}
              {{ kanisa_root_crumb.text }}
              {% endif %}
            </li>
            {% endif %}
            {% if kanisa_title and not kanisa_is_root_view %}
            <li>
              <span class="divider">/</span> {{ kanisa_title }}</span>
            </li>
            {% endif %}
            {% endblock %}
          </ul>

          {% for message in messages %}
          <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
            <button class="close" data-dismiss="alert">&times;</button>
            {{ message }}
          </div>
          {% endfor %}

          <h1>{% block pagetitle %}{% if kanisa_title %}{{ kanisa_title }}{% else %} for {{ KANISA_CHURCH_NAME }}{% endif %}{% endblock %}</h1>

          {% block lead %}
          {% if kanisa_lead %}<p class="lead">{{ kanisa_lead }}</p>{% endif %}
          {% endblock %}

          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
