{% load url from future %}
<!DOCTYPE html>
<html lang="en">
  {% include "kanisa/_head.html" %}
  <body>
    {% include "kanisa/_header.html" %}

    <div class="container">
      <div class="row">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">
                Manage {{ KANISA_CHURCH_NAME }}
              </li>
              <li>
                <a href="{% url 'kanisa.views.manage' %}">
                  <i class="icon-home"></i>
                  Home
                </a>
              </li>
              <li>
                <a href="{% url 'kanisa.views.manage_banners' %}">
                  <i class="icon-picture"></i>
                  Banners
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="span9">
          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
