{% load kanisa_feather %}
{% load kanisa_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
  {% include "kanisa/_head.html" %}
  <link rel="stylesheet" type="text/css" media="all" href="{% static 'kanisa/vendor/chosen-1.0.0/chosen.min.css' %}" />
  <script src="{% static 'kanisa/vendor/chosen-1.0.0/chosen.jquery.min.js' %}"></script>

  {% include "kanisa/management/_js.html" %}
  {% block extrajs %}
  {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary flex-md-nowrap p-0">
      <a class="navbar-brand col-sm-4 col-md-3 mr-0" href="#">Kanisa &raquo;
        <strong>{{ KANISA_CHURCH_NAME }}</strong>
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
          {% if kanisa_preview_url %}
          <li class="nav-item">
            <a class="nav-link" href="{{ kanisa_preview_url }}">Preview</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'kanisa_public_index' %}">{% kanisa_feather "home" %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'kanisa_members_logout' %}">Sign out</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-2 bg-light">
          {% include 'kanisa/management/_sidebar.html' %}
        </div>
        <div class="col-sm-10">
          {% block breadcrumbs %}
          {% include 'kanisa/management/_breadcrumbs.html' %}
          {% endblock %}
          {% include 'kanisa/_alerts.html' %}

          <h1>{% block pagetitle %}{% if kanisa_title %}{{ kanisa_title }}{% else %} for {{ KANISA_CHURCH_NAME }}{% endif %}{% endblock %}</h1>

          {% block lead %}
          {% if kanisa_lead %}<p class="lead">{{ kanisa_lead }}</p>{% endif %}
          {% endblock %}

          {% block content %}
          {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
