{% extends 'kanisa/management/base.html' %}

{% load thumbnail %}

{% block pagetitle %}Manage {{ KANISA_CHURCH_NAME }}{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}

<p class="lead">Welcome to the Kanisa management interface, you are currently logged in as <strong>{{ user }}</strong>.</p>

<hr />

<div class="row">
  <div class="col-md-8">
    <h3>Quick Links</h3>

    {% if perms.kanisa.manage_pages %}
    <a href="{% url 'kanisa_manage_pages_create' %}" class="btn btn-default">
      <span class="glyphicon glyphicon-font"></span>
      Create a Page
    </a>
    {% endif %}

    {% if perms.kanisa.manage_sermons %}
    <a href="{% url 'kanisa_manage_sermons_individual_create' %}" class="btn btn-default">
      <span class="glyphicon glyphicon-headphones"></span>
      Create a Sermon
    </a>
    {% endif %}

    {% if perms.kanisa.manage_users %}
    <a href="{% url 'kanisa_manage_users' %}" class="btn btn-default">
      <span class="glyphicon glyphicon-user"></span>
      Manage Users
    </a>
    {% endif %}

    <hr />

    <h3>Service Planning</h3>

    <p>Take a look at upcoming <a href="{% url 'kanisa_members_services_index' %}">service plans</a>.</p>
  </div>
  <div class="col-md-4 kanisa_recent_logins">
    <h3>Recent Logins</h3>

    {% for theuser in user_list %}
    <div>
      {% thumbnail theuser.image_or_default "50x50" crop="center" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" style="float: left" class="img-circle" />
      {% endthumbnail %}
      <div>
        {{ theuser.get_full_name }}<br />
        <abbr title="{{ theuser.last_login|date:"r"}}">{{ theuser.last_login|timesince }}</abbr> ago
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% if user.is_staff %}
  <hr />
  <p class="text-muted">If you're stuck, you may be able to make some changes via the <a href="{% url 'admin:index' %}">admin</a>.</p>
{% endif %}
{% endblock %}
