{% extends 'kanisa/management/base.html' %}

{% load kanisa_search_templates %}

{% block pagetitle %}Search Results{% endblock %}

{% block content %}
{% if search_term %}
<div class="alert alert-info">
    Showing search results for <em>{{ search_term }}</em>.
</div>
{% else %}
<div class="alert alert-warning">
    No search query entered.
</div>
{% endif %}

{% for result in results %}
    <div class="search-result">
    <h3>{{ result.title }} ({{ result.verbose_name }})</h3>
    {% include result.model_name|search_template %}
    </div>
{% endfor %}

{% endblock %}