{% extends 'kanisa/management/base.html' %}

{% block pagetitle %}Search Results{% endblock %}

{% block content %}
{% if search_term %}
<div class="alert alert-info">
    Showing search results for <em>{{ search_term }}</em>.
</div>
{% else %}
<div class="alert alert-warning">
    No search query entered.
</div>
{% endif %}

{% for result in results %}
    <div class="search-result">
    <h3>{{ result.title }} <small>({{ result.verbose_name }})</small></h3>
    {{ result.rendered|safe }}
    <hr />
    </div>
{% endfor %}

{% endblock %}