{% if banners %}

{% load thumbnail %}

<div id="banners_carousel" class="carousel slide" data-ride="carousel">
  <!-- Carousel items -->
  <div class="carousel-inner">
    {% for banner in banners %}
      <div class="carousel-item{% if forloop.first %} active{% endif %}">
        {% thumbnail banner.image "570x373" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" />
        {% endthumbnail %}
        <div class="carousel-caption">
          <h4>{{ banner.headline }}</h4>
          {% if banner.contents %}
            <p>{{ banner.contents }}</p>
          {% endif %}
          {% if banner.url %}
          <p class="link-text">
            <a href="{% url 'kanisa_public_banners_visit' banner.pk %}" title="{{ banner.link_text|default:"Find out more" }}">
              {{ banner.link_text|default:"Find out more" }} &raquo;
            </a>
          </p>
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>

  <a class="carousel-control-prev" href="#banners_carousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#banners_carousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

{% endif %}
