{% load kanisa_homepage %}
{% load thumbnail %}

<h3>Listen Online</h3>

{% kanisa_sermons as sermons %}

{% if sermons %}
<table class="table">
  {% for sermon in sermons %}
  <tr>
    <td>
      {% if sermon.speaker.image %}
        {% thumbnail sermon.speaker.image "60x60" crop="center" as im %}
          <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" class="img-circle" />
        {% endthumbnail %}
      {% endif %}
    </td>
    <td>
      <strong>
        <a href="{{ sermon.url }}">
          {{ sermon.title }}
        </a>
      </strong>
      <br />
      {% if sermon.series %}
      Part of the series
      <a href="{% url 'kanisa_public_sermon_series_detail' sermon.series.slug %}"><em>{{ sermon.series }}</em></a>
      <br />
      {% endif %}
      {{ sermon.speaker }}
      <span class="text-muted">({{ sermon.date }})</span>
    </td>
  </tr>
  {% endfor %}
</table>
{% else %}
<div class="alert alert-block">
  <h4>No sermons available</h4>
  Sorry - there are no sermons available for download at present.
</div>
{% endif %}
