{% load kanisa_homepage %}
{% load kanisa_markup %}
{% load url from future %}

{% kanisa_this_sunday as this_sunday %}

{% if this_sunday %}
<h3>This Sunday</h3>
<table class="table">
<tbody>
{% for event in this_sunday %}
<tr>
  <td width="70px">{{ event.start_time }}</td>
  <td>
    <strong>
      {% if event.event %}
      <a href="{% url 'kanisa_public_diary_regularevent_detail' event.event.slug %}">
        {{ event }}
      </a>
      {% else %}
      <a href="{% url 'kanisa_public_diary_scheduledevent_detail' event.pk %}">
        {{ event }}
      </a>
      {% endif %}
    </strong>
    <br />
    {% if event.event %}
    {{ event.event.intro }}
    {% endif %}
  </td>
</tr>
{% endfor %}
</tbody>
</table>

{% endif %}
