{% load thumbnail %}

<p>
  {% if object.contact.image %}
  {% thumbnail object.contact.image "90x90" crop="center" as im %}
  <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" class="img-thumbnail" style="float: left; margin: 0 5px 5px 0" />
  {% endthumbnail %}
  {% endif %}
  You can find out more about <em>{{ object }}</em> by e-mailing
  {% if object.contact.email %}
    <strong><a href="mailto:{{ object.contact.email }}">{{ object.contact }}</a></strong> at {{ object.contact.email }}.
  {% elif KANISA_CHURCH_EMAIL %}
    <strong>{{ object.contact }}</strong> via the <a href="mailto:{{ KANISA_CHURCH_EMAIL }}">Church office</a> at {{ KANISA_CHURCH_EMAIL }}.
  {% else %}
    <strong>{{ object.contact }}</strong> via the Church office.
  {% endif %}
</p>
