{% load kanisa_markup %}

{% with object.get_next as next_event %}
{% if next_event %}
<hr />

<h3 style="margin-top: 0">Coming Up</h3>
{% if next_event.series %}
  <p>The next <em>{{ next_event }}</em> series is from <strong>{{ next_event.date|date:"l, jS F Y" }}</strong> to <strong>{{ next_event.series.end_date|date:"l, jS F Y" }}</strong>.</p>
{% else %}
<p>
  The next <em>{{ next_event }}</em>
  {% if next_event.date == next_event.end_date %}
  is on
  {% else %}
  begins on
  {% endif %}
  <strong>{{ next_event.date|date:"l, jS F Y" }}</strong>
  at
  <strong>{{ next_event.start_time }}</strong>
  {% if next_event.date != next_event.end_date %}
  and ends on <strong>{{ next_event.end_date|date:"l, jS F" }}</strong>.
  {% endif %}
</p>
{% endif %}

{% if next_event.intro != object.intro %}
<p>
  <em>{{ next_event.intro }}</em>
</p>
{% endif %}

{% if next_event.is_special %}
<p>
  Find out more about
  <a href="{{ next_event.url }}" title="Find out more">
    the next {{ next_event }}</a>.
</p>
{% endif %}

{% if perms.kanisa.manage_diary %}
<a class="btn btn-default btn-xs" href="{% url 'kanisa_manage_diary_scheduled_update' next_event.pk %}">
  <i class="glyphicon glyphicon-edit"></i>
  Edit this scheduled event
</a>
{% endif %}

{% endif %}
{% endwith %}
