{% load kanisa_markup %}
{% load thumbnail %}

{% for event in events_to_display %}
{% cycle '<div class="row">' '' %}
  <div class="span4" style="margin-bottom: 1em">
    {% if event.image %}
    <a href="{% url 'kanisa_public_diary_regularevent_detail' event.slug %}" style="float: left; margin: 0 10px 10px 0">
      {% thumbnail event.image "80x80" crop="center" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" class="img-polaroid" />
      {% endthumbnail %}
    </a>
    {% endif %}
    <h3 style="margin-top: 0">
      <a href="{% url 'kanisa_public_diary_regularevent_detail' event.slug %}">
        {{ event.title }}
      </a>
    </h3>
    <p>{{ event.intro }}</p>
  </div>
  {% cycle '' '</div>' %}
{% empty %}
<p class="alert alert-info">
  <strong>Sorry!</strong>
  There are no events set up here yet.
</p>
{% endfor %}
