{% load kanisa_markup %}
{% load thumbnail %}

{% for event in events_to_display %}
{% cycle '<div class="row">' '' %}
  <div class="col-md-6" style="margin-bottom: 1em">
    {% if event.image %}
    <a href="{% url 'kanisa_public_diary_regularevent_detail' event.slug %}" class="regular-event-img-link">
      {% thumbnail event.image "80x80" as im %}
      <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" class="img-thumbnail" style="clear:left" />
      {% endthumbnail %}
    </a>
    {% endif %}
    <h3>
      <a href="{% url 'kanisa_public_diary_regularevent_detail' event.slug %}">
        {{ event.title }}
      </a>
    </h3>
    <p>{{ event.intro }}</p>
  </div>
  {% cycle '' '</div>' %}
{% empty %}
<p class="alert alert-info">
  <strong>Sorry!</strong>
  There are no events set up here yet.
</p>
{% endfor %}
