<h2>This Week</h2>
<table class="table">
  {% for date, items in thisweek %}
  <tr>
    <td>
      <strong>{{ date|date:"l" }}</strong>
      <br />
      {{ date|date:"jS F" }}
    </td>
    <td style="vertical-align: middle">
      {% for item in items %}
      <span style="width: 5em; display:inline-block">
        {% if item.date == date %}
        {{ item.start_time|date:"P" }}
        {% else %}
        &nbsp;
        {% endif %}
      </span>

      <a href="{{ item.url }}"{% if item.intro %} title="{{ item.intro }}"{% endif %}{% if item.date != date %} class="text-muted"{% endif %}>
        {{ item }}
        {% if item.date != date %}
        <em>(contd.)</em>
        {% endif %}
      </a>

      {% if not forloop.last %}<br />{% endif %}

      {% empty %}
      <em>Nothing scheduled</em>
      {% endfor %}
    </td>
  </tr>
  {% endfor %}
</table>
