<h2>This Week</h2>
<table class="table">
  {% for date, items in thisweek.events %}
  <tr>
    <td>
      <strong>{{ date|date:"l" }}</strong>
      <br />
      {{ date|date:"jS F" }}
    </td>
    <td style="vertical-align: middle">
      {% include "kanisa/public/diary/_this_week_single_day.html" %}
    </td>
  </tr>
  {% endfor %}
</table>

<ul class="pager">
  <li class="previous"><a href="#" class="week_pager" data-date="{{ thisweek.previous_week|date:"Ymd" }}">&larr; Previous Week</a></li>
  <li class="next"><a href="#" class="week_pager" data-date="{{ thisweek.next_week|date:"Ymd" }}">Next Week &rarr;</a></li>
</ul>
