{% extends 'kanisa/public/base.html' %}

{% load kanisa_markup %}
{% load thumbnail %}

{% block precontent %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'kanisa_public_index' %}">Home</a>
    <span class="divider">/</span>
  </li>
  <li>
    <a href="{% url 'kanisa_public_diary_index' %}">Diary</a>
    <span class="divider">/</span>
  </li>
  <li class="active">
    {{ object.title }}
  </li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
  <div class="span9">
    <h1 class="primary">
      {{ object.title }}
    </h1>

    <div class="row">
      <div class="span3">
        {% thumbnail object.image "260x260" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" class="img-polaroid" />
        {% endthumbnail %}

        {% include 'kanisa/public/diary/_next_event.html' %}

        {% if object.contact %}
        <hr />
        {% include 'kanisa/public/diary/_contact.html' %}
        {% endif %}
      </div>
      <div class="span6">
        <p class="lead">
          {{ object.intro }}
        </p>

        {% if object.details %}
        {{ object.details|kanisa_markdown }}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="span3">
    <div class="well" style="padding:8px 0">
      {% include "kanisa/public/diary/_diary_nav.html" %}
    </div>
    {% if perms.kanisa.manage_diary %}
    <a class="btn" href="{% url 'kanisa_manage_diary_regular_update' object.pk %}">
      <i class="icon-edit"></i>
      Edit this regular event
    </a>
    {% endif %}
  </div>
</div>

{% endblock %}
