{% extends 'kanisa/public/base.html' %}

{% load kanisa_markup %}
{% load thumbnail %}

{% block precontent %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'kanisa_public_index' %}">Home</a>
  </li>
  <li>
    <a href="{% url 'kanisa_public_diary_index' %}">Diary</a>
  </li>
  <li class="active">
    {{ object.title }} ({{ object.date|date:"jS F Y" }})
  </li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-9">
    <h1 class="primary">
      {{ object.title }}
    </h1>

    <p class="lead">
      {% if object.date == object.end_date %}
      {{ object.title }} is on {{ object.date|date:"jS F Y" }}
      at {{ object.start_time }}
      {% else %}
      {{ object.title }} begins on {{ object.date|date:"jS F Y" }}
      at {{ object.start_time }}
      and finishes on {{ object.end_date|date:"jS F" }}.
      {% endif %}
    </p>

    {% if object.details %}
    {{ object.details|kanisa_markdown }}
    {% endif %}
  </div>
  <div class="col-md-3">
    {% include "kanisa/public/diary/_diary_nav.html" %}

    {% if object.contact %}
    <hr />
    {% include 'kanisa/public/diary/_contact.html' %}
    {% endif %}


    {% if perms.kanisa.manage_diary %}
    <hr />

    <a class="btn btn-default" href="{% url 'kanisa_manage_diary_scheduled_update' object.pk %}">
      <i class="glyphicon glyphicon-edit"></i>
      Edit this scheduled event
    </a>
    {% endif %}
  </div>
</div>

{% endblock %}
