{% extends 'kanisa/public/base.html' %}

{% load kanisa_markup %}
{% load thumbnail %}

{% block precontent %}
<ul class="breadcrumb">
  <li>
    <a href="{% url 'kanisa_public_index' %}">Home</a>
  </li>
  <li>
    <a href="{% url 'kanisa_public_diary_index' %}">Diary</a>
  </li>
  <li class="active">
    {{ object.title }} ({{ object.date|date:"jS F Y" }})
  </li>
</ul>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-9">
    <h1 class="page-header">
      {{ object.title }}
      <small>({{ object.date|date:"l, jS F Y" }})</small>
    </h1>
    {% if object.series %}
    <p class="alert alert-info">
      This is part of a series of events running
      {% for event in object.series.get_cached_events %}
      {% if event.pk != object.pk %}<a href="{{ event.url }}">{% endif %}{{ event.date|date:"jS F" }}{% ifchanged %} {{ event.date|date:"Y" }}{% endifchanged %}{% if event.pk != object.pk %}</a>{% endif %}{% if not forloop.last %};{% endif %}{% endfor %}.
    </p>
    {% endif %}
    <div class="row">
      {% if object.event %}
      <div class="col-md-4">
        {% if object.event.image %}
        {% thumbnail object.event.image "260x260" as im %}
        <img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" class="img-thumbnail" />
        {% endthumbnail %}
        <hr />

        {% endif %}

        {% include 'kanisa/public/diary/_contact.html' %}

      </div>
      <div class="col-md-8">
      {% else %}
      <div class="col-md-12">
      {% endif %}
        <p class="lead">
          {% if object.date == object.end_date %}
          {{ object.title }} is on {{ object.date|date:"l, jS F Y" }}
          at {{ object.start_time }}
          {% else %}
          {{ object.title }} begins on {{ object.date|date:"l, jS F Y" }}
          at {{ object.start_time }}
          and finishes on {{ object.end_date|date:"l, jS F" }}.
          {% endif %}
        </p>

        {% if object.details %}
        {{ object.details|kanisa_markdown }}
        {% endif %}
      </div>
    </div>
  </div>
  <div class="col-md-3">
    {% include "kanisa/public/diary/_diary_nav.html" %}

    {% if perms.kanisa.manage_diary %}
    <hr />

    <a class="btn btn-default" href="{% url 'kanisa_manage_diary_scheduled_update' object.pk %}">
      <i class="glyphicon glyphicon-edit"></i>
      Edit this scheduled event
    </a>
    {% endif %}
  </div>
</div>

{% endblock %}
