{% extends 'kanisa/management/base.html' %}

{% load thumbnail %}
{% load url from future %}

{% block content %}
{% include "kanisa/management/banners/_nav.html" with current="inactive" %}
<p>
  <a href="{% url 'kanisa_manage_banners_create' %}" class="btn btn-large btn-success">
    <i class="icon-white icon-plus"></i>
    Create a new banner
  </a>
</p>

<hr />

<div class="alert alert-info">These banners are either retired, or are just not yet active.</div>

{% include 'kanisa/management/banners/_thumbnails.html' %}
{% endblock %}
