{% extends 'kanisa/management/base.html' %}

{% load thumbnail %}

{% block content %}
<h1>Manage Banners for {{ KANISA_CHURCH_NAME }}</h1>

<p class="lead">Banners are a high-impact way of advertising content or events for your site.</p>

{% if banners %}
<ul class="thumbnails">
  {% for banner in banners %}
  <li class="span3">
    <div class="thumbnail">
      {% thumbnail banner.image "260x180" crop="center" as im %}
      <a data-toggle="modal" href="#banner-full-{{ banner.pk }}" ><img src="{{ im.url }}" width="{{ im.width }}px" height="{{ im.height }}px" /></a>
      {% endthumbnail %}
      <div class="caption">
        <h4>{{ banner.headline }}</h4>
        {% if banner.publish_until %}
        <p>This banner will remain active for <strong>{{ banner.publish_until|timeuntil }}</strong>.</p>
        {% else %}
        <p>This banner will remain active <strong>forever</strong>.</p>
        {% endif %}
      </div>

      {% include 'kanisa/management/banners/_modal.html' %}
    </div>
  </li>
  {% endfor %}
</ul>
{% else %}
<div class="alert alert-warning">
There are no banners to display.
</div>
{% endif %}

{% endblock %}
