{% extends 'kanisa/management/base.html' %}

{% load url from future %}

{% block breadcrumbs %}
{{ block.super }}
<li class="active">
  <span class="divider">/</span> Banners
</li>
{% endblock %}

{% block pagetitle %}Manage Banners {{ block.super }}{% endblock %}

{% block content %}
{% include 'kanisa/management/banners/_lead.html' %}
<p><a href="{% url 'kanisa.views.create_banner' %}" class="btn btn-large btn-primary">Create a new banner &raquo;</a></p>

{% include 'kanisa/management/banners/_thumbnails.html' %}
{% endblock %}
