<p>Dear {{ addressee.get_familiar_name }},</p>

<p>You -- or someone pretending to be you -- has requested a password
reset on {{ site.domain }}.</p>

<p>You can set your new password by visiting
  <a href="http{% if secure %}s{% endif %}://{{ site.domain }}{% url "kanisa_public_reset_password" token %}">http{% if secure %}s{% endif %}://{{ site.domain }}{% url "kanisa_public_reset_password" token %}</a>.</p>

<p>If you don't want to reset your password, simply ignore this email and it will stay unchanged.</p>

<p>The {{ KANISA_CHURCH_NAME }} web team</p>
