{% extends 'kanisa/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-6">
    <h1>Welcome to Kanisa</h1>
    <p class="lead">
      Please enter your username and password to continue.<br />
      <span class="text-muted login-notes">If you've forgotten your username or password, you can <a href="{% url 'kanisa_members_recover_password' %}">reset them</a>.</span>
    </p>

    {% crispy form %}
  </div>
</div>
{% endblock %}
