{% load url from future %}

<h3>Colours</h3>

<table class="table table-striped">
  <tbody>
    <tr>
      <td>
        <div class="colour-swatch">
          <div style="background-color: {{ colours.logo_background }}"></div>
        </div>
      </td>
      <td class="muted" style="vertical-align: middle">
        Used in the header bar alongside your logo.
      </td>
    </tr>
</table>

<p>
  <a href="{% url 'kanisa_manage_branding_colours' %}" class="btn btn-small btn-success">
    Update Colours
  </a>
</p>

