<h3>Colours</h3>

{% if colours %}
<table class="table table-striped">
  <tbody>
    {% for value, description in colours %}
    <tr>
      <td>
        <div class="colour-swatch">
          <div style="background-color: {{ value }}"></div>
        </div>
      </td>
      <td class="text-muted" style="vertical-align: middle">
        {{ description }}
      </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p class="alert alert-warning">
  You don't have any custom colours set up yet.
</p>
{% endif %}

<p>
  <a href="{% url 'kanisa_manage_branding_colours' %}" class="btn btn-sm btn-success">
    Update Colours
  </a>
</p>

